[2019-07-11 18:45] #341 closed

[2019-07-11 18:46] chraibi opened #344 "implement Fridolf2018 - [merged]"
In Gitlab by @planospeedo on Jun 26, 2018, 13:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/29)]

_Merges jpsfire_walkingspeed -> develop_

[2019-07-11 18:46] chraibi commented on #344
In Gitlab by @chraibi on Sep 28, 2018, 14:40

added 19 commits

<ul><li>2a71262f...e8edef8c - 18 commits from branch <code>develop</code></li><li>38d5af93 - Merge branch &#39;develop&#39; into &#39;jpsfire_walkingspeed&#39;</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/29/diffs?diff_id=905&start_sha=2a71262fa631b464f0803d99195edd87e

[2019-07-11 18:46] chraibi commented on #344
In Gitlab by @chraibi on Sep 28, 2018, 14:40

merged

[2019-07-11 18:46] chraibi commented on #344
In Gitlab by @chraibi on Sep 28, 2018, 14:40

mentioned in commit 6f05620093059c526d3d3f6a6f597732f56690d3

[2019-07-11 18:46] #344 closed

[2019-07-11 18:46] chraibi opened #345 "Toxicity analysis - [merged]"
In Gitlab by @chraibi on Oct 17, 2018, 08:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/31)]

_Merges toxicity_analysis -> develop_

[2019-07-11 18:46] chraibi opened #346 "Fix path operation for ToxAnalysis output - [merged]"
In Gitlab by @chraibi on Oct 20, 2018, 23:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/34)]

_Merges fix_path_toxAnalysis -> develop_

If we run the 0_demo like this

[code]

then this happens

![Screen_Shot_2018-10-20_at_23.53.35](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/2cf5c259d648c1e3c9704889e8fd7263/Screen_Shot_2018-10-20_at_23.53.35.p

[2019-07-11 18:46] chraibi opened #347 "First working version of cutting big walls - [merged]"
In Gitlab by @chraibi on Oct 24, 2018, 21:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36)]

_Merges 281-continuous-walls -> develop_

Closes #281

[2019-07-11 18:46] chraibi commented on #347
In Gitlab by @chraibi on Oct 26, 2018, 19:32

added 2 commits

<ul><li>4fc90d6d - Refactor choosing point to add in a function</li><li>2c9f0598 - WIP: Recursively cutting big lines</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=971&start_sha=c4d6153bb42038458af8284adb20eaef1ff7eedb)

[2019-07-11 18:46] chraibi commented on #347
In Gitlab by @chraibi on Oct 26, 2018, 21:50

added 4 commits

<ul><li>d7a2f635 - whitespaces in subroom</li><li>1b970a09 - correct path to doc file</li><li>f1ef7557 - remove some debug messages</li><li>2f7b81fd - Consider crossings and transitions in cutting ..</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=972&star

[2019-07-11 18:46] chraibi commented on #347
In Gitlab by @chraibi on Oct 27, 2018, 02:35

added 4 commits

<ul><li>894437af - add unit tests for clean geometry</li><li>f8b94e49 - Add new clean geometry test</li><li>c0e7df6b - Add documentation for new functions</li><li>54055e46 - Remove doors on walls</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=973&start_sh

[2019-07-11 18:46] chraibi commented on #347
In Gitlab by @chraibi on Oct 28, 2018, 19:38

added 1 commit

<ul><li>9d97ed13 - Remove exists nearly on walls</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=974&start_sha=54055e4611d406c9b727f7c77c1b4dec80baf9a4)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Oct 28, 2018, 19:48

added 1 commit

<ul><li>22e2d940 - Add clean geometry test 5</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=975&start_sha=9d97ed138aba8030035662ffc9f1dffd2808b738)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Oct 29, 2018, 12:59

added 1 commit

<ul><li>2491a87e - new tests</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=977&start_sha=22e2d940d7d32949f9c191a881c5a2804666355a)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Oct 30, 2018, 10:47

added 4 commits

<ul><li>1161727f - uncomment come messages</li><li>946ba14c - Merge branch &#39;281-continuous-walls&#39; of…</li><li>809ac43c - Better logs in subroom addwall</li><li>18d84d6e - Reimplement function for removing overlaping exits</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requ

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Oct 30, 2018, 18:10

added 1 commit

<ul><li>848e9dec - rremove duplicate code</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=982&start_sha=18d84d6e60237b03f462e9c4a89336c7f7745c8c)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Oct 30, 2018, 20:08

added 1 commit

<ul><li>ae2aaf2b - Save corrected geometry to file</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=983&start_sha=848e9decc3e6fff12f7fc6b785890acf4aa8cfeb)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Oct 31, 2018, 10:43

added 1 commit

<ul><li>0aecf815 - add new corrected file to trajectory file</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=984&start_sha=ae2aaf2bf72b624e15c7b6955087466230df2f6c)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Oct 31, 2018, 14:56

added 1 commit

<ul><li>ab260c41 - test 7 - octagon</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=986&start_sha=0aecf815ab5162611e5c72115e6898fd035f900d)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Nov 5, 2018, 08:32

added 1 commit

<ul><li>ec52903e - test 8 (works) &amp; test 9 (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=990&start_sha=ab260c416d394a1149d82e6c7a59428e1a40a236)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Nov 5, 2018, 09:13

added 1 commit

<ul><li>c45d3166 - test9.2 (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=991&start_sha=ec52903ed4e41b8448fcd60fff357dcccb2a5a36)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Nov 6, 2018, 08:22

added 1 commit

<ul><li>505d9089 - Test9 new</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=995&start_sha=c45d3166a90d3d45b93341d7871e9a79ae220eed)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @anna-braun on Nov 6, 2018, 10:16

added 1 commit

<ul><li>9eb1d657 - test10 complex geometry (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=996&start_sha=505d908915ee70e6457d96a676acb5206285aac4)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 6, 2018, 16:35

added 1 commit

<ul><li>3a084f2f - write off corrected geometry if correction is made</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=998&start_sha=9eb1d657a3c21d510c8caaec1aa327dce0d5dad7)

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 08:27

added 4 commits

<ul><li>3daa7c00 - count neighboring walls/crossings/transitions</li><li>47567f76 - choose piece wall with highest count &gt;= 2</li><li>822947a8 - remove unnecessary debug messages and warning ff-r</li><li>a06b4f4a - small chenges</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_req

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 09:01

unmarked as a **Work In Progress**

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 09:02

closed

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 09:06

reopened

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 09:11

mentioned in commit 5487283907ac332acb380049f51e31227037e0dc

[2019-07-11 18:47] chraibi commented on #347
In Gitlab by @chraibi on Nov 8, 2018, 09:11

merged

[2019-07-11 18:47] #347 closed

[2019-07-11 18:47] chraibi opened #348 "Resolve "Continuous walls" - [closed]"
In Gitlab by @chraibi on Nov 8, 2018, 09:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/37)]

_Merges 281-continuous-walls -> develop_

Closes #281

[2019-07-11 18:48] chraibi commented on #348
In Gitlab by @chraibi on Nov 8, 2018, 09:06

closed

[2019-07-11 18:48] #348 closed

[2019-07-11 18:48] chraibi opened #349 "Crossings in different rooms can have same ID - [merged]"
In Gitlab by @chraibi on Nov 9, 2018, 15:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/39)]

_Merges 292-crossing-ids -> develop_

Closes #292

- Crossings should be unique within a room.

[2019-07-11 18:48] chraibi commented on #349
In Gitlab by @chraibi on Nov 9, 2018, 15:26

mentioned in commit deb4b66cd9b8c1e8aed6416b176f39dc62b2c0a1

[2019-07-11 18:48] chraibi commented on #349
In Gitlab by @chraibi on Nov 9, 2018, 15:26

merged

[2019-07-11 18:48] #349 closed

[2019-07-11 20:39] chraibi opened #355 "Test 12 fails: Visibility forces"
In Gitlab by @chraibi on Sep 11, 2014, 19:15 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/36)]

Pedestrians interact even through walls and obstacles.

[2019-07-11 20:39] chraibi commented on #355
In Gitlab by @chraibi on Dec 17, 2016, 12:01

closed

[2019-07-11 20:39] chraibi commented on #355
In Gitlab by @chraibi on Jun 13, 2018, 16:29

removed milestone

[2019-07-11 20:39] #355 closed

[2019-07-11 20:39] chraibi opened #356 "Python 3.x tests"
In Gitlab by @chraibi on Nov 25, 2014, 18:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/55)]

Check and if necessary change the py-scripts (in Utest) such that they run with python 3

[2019-07-11 20:39] chraibi commented on #356
In Gitlab by @chraibi on Dec 17, 2016, 12:02

closed

[2019-07-11 20:39] chraibi commented on #356
In Gitlab by @chraibi on Jun 13, 2018, 16:29

removed milestone

[2019-07-11 20:39] #356 closed

[2019-07-11 20:39] chraibi opened #357 "Reduce execution time of tests"
In Gitlab by @chraibi on Jul 21, 2016, 12:58 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/206)]

- juelich 11 (136.13 s)
- juelich 13 (1321.74 s)
- juelich_14 (1493 s)
- juelich 6 (372 s)
- juelich 8 (147 s)
- Rimea 9 (192 s)
- Rimea 13 (1570 s)

[2019-07-11 20:39] chraibi commented on #357
In Gitlab by @chraibi on Dec 17, 2016, 12:09

_Original comment by chraibi on 30 Aug 2016, 09:36_

---

+1

[2019-07-11 20:39] chraibi commented on #357
In Gitlab by @chraibi on Dec 17, 2016, 12:09

_Original comment by chraibi on 30 Aug 2016, 09:40_

---

- Use model=3
- reduce timeout parameter (related to #217)

[2019-07-11 20:42] chraibi opened #358 "Calculate Voronoi Area"
In Gitlab by @rickyspy on Dec 21, 2016, 16:11 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/232)]

In Branch: Xiao

`CalculatePolygonArea()` returns segFault.

`voronoinodes.size()` can be smaller than 3, but should not.

[2019-07-11 20:42] chraibi commented on #358
In Gitlab by @rickyspy on Jan 8, 2017, 23:14

The point is that the boundaries of Voronoi diagram are not well managed. As a result, it is necessary to set the boundary rule of our Voronoi diagram for different boundaries situations, e.g. periodic boundary, open boundary and wall boundary.

[2019-07-11 20:42] chraibi commented on #358
In Gitlab by @chraibi on Jun 13, 2018, 16:41

removed milestone

[2019-07-11 20:42] chraibi opened #359 "Smoke Cue Model"
In Gitlab by @chraibi on Dec 20, 2017, 16:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/259)]

## Short description of suggestion

- User defines a pre-movement time (e.g. 120 s)
- + detection time (e.g. 60s)

That means: the occupant remains in that position for 180 s regardless the occurrence of smoke or temperature.

It would be good if we can implement a function in

[2019-07-11 20:42] chraibi commented on #359
In Gitlab by @chraibi on Dec 20, 2017, 16:55

@Bart: What is the name of the quantity in FDS simulation results, that reflects this "visibility" or at least can be used to calculate it?

[2019-07-11 20:42] chraibi commented on #359
In Gitlab by @vanweyenberge1 on Dec 20, 2017, 17:25

You can choose between visibility, extinction coefficient, smoke density, etc.
Depending on the choice, the parameters need to be recalculated to visibility.

The idea would be that the occupant/agent has a perceived risk that increases by receiving cues.

One of the cues causing investigation or evacuation would be seeing smoke.

The easiest wh

[2019-07-11 20:42] chraibi commented on #359
In Gitlab by @planospeedo on Dec 20, 2017, 18:52

@vanweyenberge1

The issue with visibility, ext. coeff. extraction etc. from fds is that these are local values with non-homogeneous conditions. Thus, in order to assess the real visibility, a line of sight integral over these values is needed. A first approach in this direction is realised with the Smoke Sensor, however not quantitatively. But thi

[2019-07-11 20:42] chraibi commented on #359
In Gitlab by @gjaeger on Jan 14, 2018, 15:41

for comparison, the implementation in FDS+Evac (Version 2.5.2):

In addition to the detection time given by the user, the local smoke concentration can be used to trigger the detection of a fire. The smoke can also be detected by a device (smoke or heat detector). By default, smoke density is not used for detection. If smoke is used to detect fire then

[2019-07-11 20:43] chraibi commented on #359
In Gitlab by @planospeedo on Apr 19, 2018, 11:10

assigned to @planospeedo

[2019-07-11 20:43] chraibi commented on #359
In Gitlab by @chraibi on Jun 13, 2018, 16:41

removed milestone

[2019-07-11 20:43] chraibi opened #360 "EllipsesVelocityModel"
In Gitlab by @chraibi on Feb 2, 2018, 14:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/265)]

Extend the velocity model with ellipses.

[2019-07-11 20:43] chraibi commented on #360
In Gitlab by @chraibi on Feb 2, 2018, 14:22

created branch [`ellipsesvelocitymodel`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...ellipsesvelocitymodel)

[2019-07-11 20:43] chraibi opened #361 "Pedestrians get in shapes"
In Gitlab by @chraibi on Mar 14, 2018, 10:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/267)]

## Short description of suggestion

The default shape of agents is `ellipse`.

In some models, the ellipse' semi-axes are chosen in a way, that we can even simulate *indirectly* `circles`.

It should be important to make proper (distance)calculations based on the agent's shape

[2019-07-11 20:43] chraibi commented on #361
In Gitlab by @chraibi on Mar 14, 2018, 11:00

changed time estimate to 1mo

[2019-07-11 20:43] chraibi commented on #361
In Gitlab by @schroedtert on Mar 15, 2018, 10:00

added 1h of time spent at 2018-03-15

[2019-07-11 20:43] chraibi commented on #361
In Gitlab by @chraibi on Jun 13, 2018, 16:41

removed milestone

[2019-07-11 20:43] chraibi opened #362 "Make escalators direction-dependent"
In Gitlab by @bsmoehring on Mar 26, 2018, 16:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/268)]

## Short description of suggestion
JuPedSim allows us to define subrooms as "stairs" or "escalators". So far the escalator only influences an agent's speed, defined by the parameters
*  v0_escalator_upstairs mu="0.5" sigma="0.0"/
*  v0_escalator_downstairs mu="0.5" sigma="0

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on Mar 26, 2018, 16:24

changed the description

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on Mar 28, 2018, 17:44

The following example illustrates how things should be working.

There is
*  a subroom class="stair" and
*  a subroom class="escalator_up".

Agents walking downstairs should take the detour via the stair instead of the direct way via the escalator_up.

[jps_log.P0.dat](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/41b0c31f108613f0bc8

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on Mar 28, 2018, 17:53

![Screenshot_from_2018-03-28_17-52-16](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/ad93c03486e339615ceefce5d5b6692b/Screenshot_from_2018-03-28_17-52-16.png)

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @chraibi on Apr 25, 2018, 14:56

assigned to @schroedtert

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on Apr 25, 2018, 14:57

Is there any additional data or example that I can provide?

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on May 3, 2018, 10:50

The documentation says:

*  floor

*  stairs take additionally up px="-5.0" py="2" and down px="0.0" py="2", which are used for

@chraibi  : Do you know if the point up and down are somehow used elsewhere? Does it matter if they're placed on a center point of a line or on a vertex?

Just trying to find out if we destroy something when using these poi

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @chraibi on May 3, 2018, 11:07

No, they are not used in `jpscore`.

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @chraibi on May 15, 2018, 19:59

Can we close this?

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on May 16, 2018, 09:02

yes. 13509c03a5b078e79f8460f0eb8ff4ab2e5e2c2f did its job.

I will provide some documentation for it.

[2019-07-11 20:43] chraibi commented on #362
In Gitlab by @bsmoehring on May 16, 2018, 09:02

closed

[2019-07-11 20:43] #362 closed

[2019-07-11 20:43] chraibi opened #363 "Stair in the middle of a (sub)room -> hole for stairs"
In Gitlab by @anna-braun on Oct 2, 2018, 16:36 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/283)]

Defining a (sub)room or a hole in the middle of an other (sub)room for a stair, without subdividing the second (sub)room in more (sub)rooms.

![Grundriss+Treppe](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/58e4fa02fb331410c991954851531040/Grundriss+Treppe.p

[2019-07-11 20:44] chraibi commented on #363
In Gitlab by @anna-braun on May 10, 2019, 15:27

Is there something new here?
It would be nice to use this for the KapaKrit geometry.

[2019-07-11 20:44] chraibi commented on #363
In Gitlab by @chraibi on May 10, 2019, 20:11

assigned to @sainho93

[2019-07-11 20:44] chraibi opened #364 "FloorField Router: Open a door after a certain time"
In Gitlab by @anna-braun on Oct 4, 2018, 09:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/285)]

If doors are closed they can not be used for the entire time. But sometimes there is a need to open a door again after a certain time.

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @anna-braun on Oct 16, 2018, 09:04

Works by using "events", but not for the floor field router.

[Raum_1.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/8cb656821e974106cad9c2076536bed6/Raum_1.xml)
[events_list.xml](/uploads/7307924b5c23a7bee23c835d8ca6569e/events_list.xml)

[Raum_1_traj-events.xml](/uploads/4d7770ab2b68ae0da99b83fd317f18dc/Raum_1_traj-events.xml)

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @chraibi on Mar 15, 2019, 16:12

@anna-braun  close?

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @anna-braun on Mar 15, 2019, 16:18

@chraibi It still does not work for the normal floor field router

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @chraibi on Mar 15, 2019, 16:19

changed title from **Open a door after a certain time** to **{+FloorField Router: +}Open a door after a certain time**

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @chraibi on Mar 15, 2019, 17:51

assigned to @schroedtert

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @anna-braun on Mar 21, 2019, 11:32

Let's solve the Problem in #294

[2019-07-11 20:44] chraibi commented on #364
In Gitlab by @anna-braun on Mar 21, 2019, 11:32

closed

[2019-07-11 20:44] #364 closed

[2019-07-11 20:44] chraibi opened #365 "Waiting areas"
In Gitlab by @anna-braun on Oct 4, 2018, 09:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/287)]

In order to simulate the transition from a platform edge to a train, waiting areas should be defined in front of the doors (transitions), for example, areas where only a certain number of people can stand.

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @chraibi on Oct 9, 2018, 22:01

assigned to @chraibi

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @chraibi on Oct 9, 2018, 22:01

assigned to @schroedtert and unassigned @chraibi

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @chraibi on Jan 28, 2019, 16:15

Any updates here?

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @chraibi on Mar 15, 2019, 16:12

Should this be closed?

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @schroedtert on Mar 21, 2019, 11:26

No it can not be closed. The distribution inside the waiting area needs to be adjusted be more realistic.

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @123morgoth123 on May 6, 2019, 19:12

I made some tests with a simple geometry to get to know waiting areas. Two issues occurred:
1. max_peds is ignored. In both cases (global_timer=”true” and “false”) more then the maximum amount of pedestrians are simultaneously in the waiting area
2. with global_timer=”false” two pedestrians are stuck in a waiting area

This folder contains the ini

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @chraibi on May 11, 2019, 00:39

Hi Tim,
@123morgoth123

thanks for your comment.

This feature is still WIP.

For the second case, it seems that agents 36 and 13 are heading in the wrong direction

![Screenshot_2019-05-11_at_00.37.33](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/f4fbca492d06fee19837f65e7cdafe57/Screenshot_2019-05-11_at_00.37.33.png)

![Screenshot_201

[2019-07-11 20:44] chraibi commented on #365
In Gitlab by @schroedtert on May 11, 2019, 11:49

Hi Tim,

1. Since the feature is WIP, we defined that max_ped should not be exceeded by the number of pedestrians heading for the first WA. Additionally, max_ped(WA1) <= max_ped(WA2).
2. When global timer "false" the pedestrians are stuck because in the last WA max_ped is reached, hence the WA is closed for all previous WAs. The other peds have alr

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @123morgoth123 on Jun 6, 2019, 10:07

Hello,
I think some issues occurred by others tests.

Issue: “overlapping” WAs

Two WAs (111 and 1119) are on different levels but 1119 is partly above 111. So, they “overlap”. 111 distributes pedestrians to 1119 and other WAs. Pedestrian 72 is sent from WA 01 to 111 and then to 1119 but stays in the “overlapping area” on the lower level until the

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @anna-braun on Jun 12, 2019, 11:05

@schroedtert Do you have any ideas for the issues of Tim?

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @schroedtert on Jun 12, 2019, 14:59

Sorry @123morgoth123 for the late reply. If it takes longer till I reply, please remind me.

Issue: “overlapping” WAs:
Thanks for for finding out. This issue should be solved in 34e8fd3a. Could you please test?

Issue: not getting next WA?
It’s a known issue. I will need to find a good solution to handle this.

And if you find any other issue pleas

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @123morgoth123 on Jun 13, 2019, 09:51

Hello @schroedtert, thanks for the response. Unfortunately nothing is changed, ped 72 is still waiting in the overlapping area in the tunnel. I hope I did erverything correct with the provided files. I downloaded them, adjusted the names (e.g. geometry_Goal.cpp to Goal.cpp) and replaced the old files with the new ones in the jpscore folder.

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @schroedtert on Jun 13, 2019, 09:59

I think the easiest way, to make sure you get the correct version of each files is to use git. Did you recompile jpscore after you changed the files? @123morgoth123

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @chraibi on Jun 13, 2019, 11:08

Maybe you could show us a screenshot like this one

![](https://www.dropbox.com/s/55st35gmbsjvdxo/Screenshot%202019-06-13%2011.07.44.png?dl=1)

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @123morgoth123 on Jun 13, 2019, 12:03

@schroedtert No I did not recompile jpscore, I'm really sorry this is all new to me. Now it should be recompiled, the branch is up to date. The result of the simulation is the same as befor.

@chraibi I hope this is the one you are looking for: ![Bildschirmfoto_2019-06-13_um_11.51.18](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @chraibi on Jun 13, 2019, 15:12

Tim, you are using the branch `develop`.

Tobias works on the branch [287-waitingarea](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/tree/287-waitingarea)

So you need to

- `git pull`
- `git checkout  287-waitingarea`
- then compile

Apart from that, it would be good to join our [Slack workspace](https://ias7.slack.com/) for quicker support.
I

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @123morgoth123 on Jun 17, 2019, 11:13

@schroedtert Now I compiled correctly and tested 10 seeds. No more overlapping problem occurred. Thank you.

Issue: WA max_peds exceeded by way problem

This is an addition to an issue above. WA_source distributes to WA_oben, WA_mitte and WA_unten; p = 0,7 / 0,2 / 0,1; max_peds = 10 / 20 / 40.
When max_peds(10) of WA_oben is reached, no further p

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @anna-braun on Jun 24, 2019, 13:07

@schroedtert
Do the waiting areas work only with direction-strategies 10 or also with other?

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @schroedtert on Jun 24, 2019, 13:10

At the moment only direction-strategy 10, but I’m not 100% sure, haven’t tested it with others for a while. The others may also work by ‘accident'.

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @anna-braun on Jun 24, 2019, 13:13

Okay thank you, then I will check it.

[2019-07-11 20:45] chraibi commented on #365
In Gitlab by @schroedtert on Jun 25, 2019, 16:54

mentioned in commit d0fb26a7112c32cf65d3c9bb2bf16234463e52d4

[2019-07-11 20:45] chraibi opened #366 "Crossing IDs"
In Gitlab by @anna-braun on Oct 30, 2018, 10:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/292)]

In different rooms, subrooms can have the same id, crossings can't.

Now:
[code]

Better:
[code]

So you are more flexible in writing geometry files.

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Oct 30, 2018, 10:09

assigned to @xuqiancheng

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Nov 8, 2018, 16:36

changed the description

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Nov 8, 2018, 16:52

created branch [`292-crossing-ids`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...292-crossing-ids)

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Nov 9, 2018, 15:26

mentioned in merge request !39

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Nov 9, 2018, 15:26

closed via merge request !39

[2019-07-11 20:45] chraibi commented on #366
In Gitlab by @chraibi on Nov 9, 2018, 15:26

mentioned in commit deb4b66cd9b8c1e8aed6416b176f39dc62b2c0a1

[2019-07-11 20:46] #366 closed

[2019-07-11 20:46] chraibi opened #367 "Show statistics of crossings"
In Gitlab by @anna-braun on Oct 30, 2018, 10:07 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/293)]

When using "show statistics" only the statistics of transitions are shown.
It will be useful to show the statistics of the crossings, too.

[2019-07-11 20:46] chraibi commented on #367
In Gitlab by @chraibi on Oct 30, 2018, 10:08

assigned to @xuqiancheng

[2019-07-11 20:46] chraibi commented on #367
In Gitlab by @chraibi on Dec 4, 2018, 17:17

mentioned in merge request !43

[2019-07-11 20:46] chraibi commented on #367
In Gitlab by @chraibi on Dec 4, 2018, 17:55

closed via merge request !43

[2019-07-11 20:46] chraibi commented on #367
In Gitlab by @chraibi on Dec 4, 2018, 17:55

mentioned in commit 9487e4422ce85414114ee3793928a16fcf413518

[2019-07-11 20:46] #367 closed

[2019-07-11 20:46] chraibi opened #368 "Events"
In Gitlab by @anna-braun on Nov 7, 2018, 10:30 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/294)]

Simulation does not work when using events (router: global_shortest)
The agents should not be rerouted. We want them to walk to the door (goal), even if it is closed and "wait" in front of it until it opens.

Maybe we should give the ff-router an attribute to differentiate b

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @anna-braun on Nov 7, 2018, 10:37

changed the description

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @anna-braun on Nov 7, 2018, 10:44

changed the description

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @anna-braun on Nov 7, 2018, 11:13

changed the description

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @anna-braun on Nov 7, 2018, 11:13

changed the description

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @anna-braun on Nov 7, 2018, 11:17

changed the description

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @chraibi on Mar 15, 2019, 16:11

@schroedtert Any updates?

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @chraibi on Mar 15, 2019, 17:51

assigned to @schroedtert

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @schroedtert on Mar 22, 2019, 13:35

created branch [`294-events`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...294-events) to address this issue

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @schroedtert on Apr 12, 2019, 13:30

Should be closed with 277817e3.
Please test, example files provided

ini: [bottleneck_ini.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/1f894e33953ff51579d9fbd595c58361/bottleneck_ini.xml)

events: [events.xml](/uploads/ac5d63c7d41bb5501861fa1426fa66f8/events.xml)

geo: [bottleneck_geo.xml](/uploads/f9acb5d24e5a45ed2595be4f23e7

[2019-07-11 20:46] chraibi commented on #368
In Gitlab by @schroedtert on Apr 12, 2019, 13:30

closed

[2019-07-11 20:46] #368 closed

[2019-07-11 20:46] chraibi opened #369 "Agent deadlock when using different repulsion rates in Tordeux model"
In Gitlab by @planospeedo on Nov 16, 2018, 13:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/297)]

Please checkout branch `tordeux_extend` and use the ini and geo files provided.

Problem: Several agents won't move at all when modelling different repulsion rates a.
In this example, 20 agents are modelled with a=0 and 30 agents with a=10.

[0_geo.xml](https://gitlab.vers

[2019-07-11 20:46] chraibi commented on #369
In Gitlab by @planospeedo on Nov 19, 2018, 12:20

assigned to @planospeedo

[2019-07-11 20:47] chraibi commented on #369
In Gitlab by @chraibi on Jul 9, 2019, 17:07

Wrong choice of parameters. I don't think we need to change the model for this case.

[2019-07-11 20:47] chraibi commented on #369
In Gitlab by @chraibi on Jul 9, 2019, 17:07

closed

[2019-07-11 20:47] #369 closed

[2019-07-11 20:47] chraibi opened #370 "External files"
In Gitlab by @anna-braun on Dec 7, 2018, 17:58 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/302)]

For the ini-file we need external **files for**:
- [x] goals
- [x] waiting areas
- [x] sources
- [x] traffic_constraints

Then we also need an external file for the **geo-file**:
- [x] transitions

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Jan 28, 2019, 16:10

You mean we should read sources and goal from files?

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @anna-braun on Jan 28, 2019, 18:27

Yes, that's what I mean.

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Jan 29, 2019, 09:30

assigned to @chraibi

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @anna-braun on Feb 21, 2019, 13:06

Update:
For the ini-file we need external **files for**:
- goals / waiting areas
- sources
- traffic_constraints

Then we also need an external file for the **geo-file**:
- transitions

Is it possible to outsource only some transitions? Because in the case of the train station there are some permanent transitions and some flexible, see #300 .

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Feb 21, 2019, 17:20

you mean some transitions are still in the geo-file and some are in an external trans-file?

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @anna-braun on Feb 22, 2019, 07:05

Yes, that's what I mean.

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Feb 25, 2019, 17:34

created branch [`302-external-files`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...302-external-files) to address this issue

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 13:37

changed the description

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 13:37

marked the task **sources** as completed

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 13:37

marked the task **traffic_constraints** as completed

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 15:26

changed the description

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 15:26

marked the task **goals** as completed

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 15:28

[inifile.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/da948ea3ce6b05342f06c53a6deafc12/inifile.xml)

[goals.xml](/uploads/50ccf4cf21cf6f15455af6cdc8652a52/goals.xml)

[sources.xml](/uploads/1cc2760dd2f71ff5c3d376009bfb8547/sources.xml)

[traffic.xml](/uploads/c283841b233550656bf43cc6ef5beb33/traffic.xml)

[geometry.xml](/uploads/7

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 17:48

marked the task **transitions** as completed

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @chraibi on Mar 15, 2019, 17:50

assigned to @schroedtert and unassigned @chraibi

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @schroedtert on Mar 22, 2019, 10:34

marked the task **goals** as incomplete

[2019-07-11 20:47] chraibi commented on #370
In Gitlab by @schroedtert on Mar 22, 2019, 10:34

marked the task **goals** as completed

[2019-07-11 20:48] chraibi commented on #370
In Gitlab by @schroedtert on Mar 22, 2019, 10:35

marked the task **waiting areas** as completed

[2019-07-11 20:48] chraibi commented on #370
In Gitlab by @schroedtert on Mar 22, 2019, 10:35

[inifile.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/fb27ab8dec774df1e451dd8410b7c498/inifile.xml)[goals.xml](/uploads/f691c5bcc2ee7da94854c0c142f61263/goals.xml)

[2019-07-11 20:48] chraibi commented on #370
In Gitlab by @schroedtert on Mar 22, 2019, 13:17

mentioned in merge request !46

[2019-07-11 20:48] chraibi commented on #370
In Gitlab by @anna-braun on Mar 29, 2019, 15:31

closed

[2019-07-11 20:48] #370 closed

[2019-07-11 20:48] chraibi opened #371 "Windows Problems"
In Gitlab by @anna-braun on Jan 15, 2019, 10:00 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/304)]

We tried to do a simulation on a Windows pc, but it crashes after some seconds. I tried it with my Mac and it works. So, it seems to be a Windows problem again.

[correct_Bahnsteige_geo.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/e7691e6c97ca1b57ff65a

[2019-07-11 20:48] chraibi commented on #371
In Gitlab by @chraibi on Jan 29, 2019, 09:31

assigned to @schroedtert

[2019-07-11 20:48] chraibi commented on #371
In Gitlab by @chraibi on Feb 21, 2019, 17:18

we solved this by compiling for win64

[2019-07-11 20:48] chraibi commented on #371
In Gitlab by @chraibi on Feb 21, 2019, 17:18

closed

[2019-07-11 20:48] #371 closed

[2019-07-11 20:48] chraibi opened #372 "Schedule (for WAs)"
In Gitlab by @anna-braun on Feb 21, 2019, 13:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/306)]

For reopening the waiting areas we need a schedule:

**schedule.xml***

[code]

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @anna-braun on Feb 21, 2019, 13:23

changed the description

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @chraibi on Feb 21, 2019, 17:17

assigned to @schroedtert

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @schroedtert on Feb 22, 2019, 12:13

t is always the time a transition opens? If yes, how long it should stay open till it closes again?

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @anna-braun on Feb 22, 2019, 12:22

Yes, t is the time when a transition opens.
It should stay open until max_peds is reached or if a defined time is over.
So the counter also has to be reset when closing the door.

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @anna-braun on Mar 21, 2019, 11:39

Postponed until #294 is finished.

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @schroedtert on Mar 30, 2019, 13:03

created branch [`306-schedule-for-was`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...306-schedule-for-was) to address this issue

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @schroedtert on Mar 30, 2019, 14:46

Small changes, since #294 should work now, schedule will be processed as Events and hence opening doors. Also the closing time needs to be defined in the schedule file.

[schedule.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/05e832774a82ae424e13f8a86888d53b/schedule.xml)

[2019-07-11 20:48] chraibi commented on #372
In Gitlab by @123morgoth123 on Jul 1, 2019, 11:01

Schedules are not working with transitions which are mentioned in traffic_constraints.
(And two peds are just deleted while waiting in front of a closed door, number 9 and 12)

Files: [files](https://1drv.ms/u/s!AsV6LgpLPxYhgbJvUFWWlDPOjjCOqA?e=iD5S8o)

[2019-07-11 20:48] chraibi opened #373 "New type for doors"
In Gitlab by @anna-braun on Feb 21, 2019, 13:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/307)]

We need a new door type:

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @anna-braun on Feb 21, 2019, 13:27

changed the description

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Feb 25, 2019, 10:13

Suggestion: replace `bool _isOpen` in Crossing by `DoorState getState()` where `enum class DoorState { OPEN, CLOSE, TEMP_CLOSE }`
*  Disadvantage, all calls to _isOpen need to be changed
*  Advantage, all Router and Models should then work with the new door type (may need some calibration)

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @chraibi on Mar 15, 2019, 17:51

assigned to @schroedtert and unassigned @chraibi

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Mar 22, 2019, 13:24

mentioned in merge request !47

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Mar 22, 2019, 13:46

mentioned in commit f9a127cda98ed66a328a1e9148c61a6dd3824aef

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Mar 22, 2019, 13:46

closed via merge request !47

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Mar 22, 2019, 15:09

mentioned in merge request !48

[2019-07-11 20:49] chraibi commented on #373
In Gitlab by @schroedtert on Mar 22, 2019, 15:14

mentioned in commit 499d57c1478ee1e7f47f1928676ebe203f7dd856

[2019-07-11 20:49] #373 closed

[2019-07-11 20:49] chraibi opened #374 "Improve FF"
In Gitlab by @schroedtert on Apr 12, 2019, 15:16 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/311)]

* [x] Merge FF and FF_Trips done with 6789d7869d764f4f5b460f36277174dbf65b9e25
* [x] Remove `ERROR: 	Could not find a route for pedestrian 37 in room 2 and subroom 0` when ped leaves the geometry through door
* [x] If doors are temp_close at start of simulation do not quit

[2019-07-11 20:49] chraibi commented on #374
In Gitlab by @schroedtert on Apr 12, 2019, 15:24

changed the description

[2019-07-11 20:49] chraibi commented on #374
In Gitlab by @schroedtert on Apr 12, 2019, 15:31

created branch [`311-improve-ff`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...311-improve-ff) to address this issue

[2019-07-11 20:49] chraibi commented on #374
In Gitlab by @schroedtert on Jun 27, 2019, 08:10

changed the description

[2019-07-11 20:49] chraibi opened #375 "Restructure routing and direction strategy"
In Gitlab by @schroedtert on Apr 12, 2019, 15:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/312)]

Restructure routing and direction strategy:
 * [ ] Allow each router with each direction strategy
 * [x] Add waiting behaviour (see #313 ) with bafd945

[2019-07-11 20:49] chraibi commented on #375
In Gitlab by @schroedtert on Apr 12, 2019, 15:25

changed the description

[2019-07-11 20:49] chraibi opened #376 "Waiting behaviour"
In Gitlab by @schroedtert on Apr 12, 2019, 15:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/313)]

Add model to display simple waiting behaviour of peds

[2019-07-11 20:49] chraibi opened #377 "Building jpscore on windows10"
In Gitlab by @AKRay93 on May 8, 2019, 10:47 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/318)]

## Summary
Build of jpscore not possible.

## Steps to reproduce
http://www.jupedsim.org/jpscore/2018-10-21-windows

## Expected behavior
Build

## Actual behavior
Errors during build in Simulation.cpp and Makros.h

## Relevant logs, files (inifile and geometry) and/or screensh

[2019-07-11 20:49] chraibi commented on #377
In Gitlab by @AKRay93 on May 8, 2019, 10:48

changed the description

[2019-07-11 20:49] chraibi commented on #377
In Gitlab by @chraibi on May 8, 2019, 12:36

changed the description

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @chraibi on May 8, 2019, 12:37

You have a screenshot of the errors?

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @AKRay93 on May 9, 2019, 09:18

Yes:![errors_vs_windows10_jpscore](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/62d5bd957d226ebdd72e079473aaf1c0/errors_vs_windows10_jpscore.png)

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @chraibi on May 10, 2019, 15:37

assigned to @xuqiancheng

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @xuqiancheng on May 10, 2019, 16:29

See commit d06dfc780f47c2bd02dbf4f1fed982a4e703d5b4

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @chraibi on May 17, 2019, 15:45

@AKRay93 any news on this?

[2019-07-11 20:50] chraibi commented on #377
In Gitlab by @chraibi on Jun 2, 2019, 14:35

closed

[2019-07-11 20:50] #377 closed

[2019-07-11 20:50] chraibi opened #378 "One-sided closed doors"
In Gitlab by @schroedtert on May 17, 2019, 08:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/320)]

Allows to pedestrian to go through in one direction but is (temp) closed from the other direction.

[2019-07-11 20:50] chraibi commented on #378
In Gitlab by @schroedtert on May 19, 2019, 10:50

created branch [`320-one-sided-closed-doors`](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/compare/develop...320-one-sided-closed-doors) to address this issue

[2019-07-11 20:50] chraibi opened #379 "Waiting area on platform"
In Gitlab by @anna-braun on Jun 12, 2019, 15:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/322)]

If there are no doors on the platform the agents should go to the waiting are and wait.

![Screenshot_2019-06-12_15.41.53](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/940996ae0294f50c2cf5fefce3bc5dac/Screenshot_2019-06-12_15.41.53.png)

Or the room (and su

[2019-07-11 20:50] chraibi opened #380 "inifile, header"
In Gitlab by @gjaeger on Jun 17, 2019, 10:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/325)]

The simulation *RiMEA_Test_04_0-5* does not run with `<header>` as described in the [documentation](http://www.jupedsim.org/jpscore/2016-11-01-inifile).

[ini_RiMEA_Test_04_0-5.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/34bb482701018f085dfb6f803c49eeb1/

[2019-07-11 20:50] chraibi commented on #380
In Gitlab by @chraibi on Jun 18, 2019, 09:04

assigned to @xuqiancheng

[2019-07-11 20:50] chraibi commented on #380
In Gitlab by @chraibi on Jun 18, 2019, 10:41

Maybe it's easier to change the documentation then to change `jpscore`.

*easier* because of the majority of demos and inifiles we've been using so far will have to be changed.

[2019-07-11 20:50] chraibi commented on #380
In Gitlab by @gjaeger on Jun 18, 2019, 21:12

When was the structure changed? I like the typical structure of the ini-file as described in the documentation.

[2019-07-11 20:50] chraibi commented on #380
In Gitlab by @xuqiancheng on Jun 19, 2019, 17:34

Solved by cc10c9ccf59fb25989eb25a2ffaee40b2fa6bff0

[2019-07-11 20:50] chraibi commented on #380
In Gitlab by @gjaeger on Jun 24, 2019, 09:30

commit 4510345f0c1990a93c1e77314cdf86bde55decd3: Anything else? What about the Utests?

[2019-07-11 20:50] chraibi opened #381 "Wating area testing 3"
In Gitlab by @GuidoBasten on Jun 18, 2019, 00:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/327)]

In this test 100 pedestrians are created with an `agents_source`.

After 50 distributed peds the simulation stops and doesn't show any Errors in the console.

In the Log file is also no explanation why the simulation stops at this point.

![WA_console](https://gitlab.versi

[2019-07-11 20:50] chraibi commented on #381
In Gitlab by @chraibi on Jun 18, 2019, 10:37

changed the description

[2019-07-11 20:50] chraibi commented on #381
In Gitlab by @chraibi on Jun 18, 2019, 10:59

please upload geo and ini files.

[2019-07-11 20:50] chraibi commented on #381
In Gitlab by @GuidoBasten on Jun 18, 2019, 12:27

these are the geometry and the ini file

[geometry.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/3fe5c592e2f8de1d211647f107ec16f2/geometry.xml)

[master_ini.xml](/uploads/8b8ee73d5d0a6012d12c2cb1f1005aef/master_ini.xml)

[2019-07-11 20:50] chraibi commented on #381
In Gitlab by @chraibi on Jun 18, 2019, 13:23

assigned to @schroedtert

[2019-07-11 20:51] chraibi commented on #381
In Gitlab by @anna-braun on Jun 18, 2019, 14:07

We tried some variations in sources and waiting areas.
And finally we found the error. It was one wrong letter in the definition of a waiting area. It took us very long to find this error. It would be great if such mistakes in the ini-file would also be written into the log, so that you can find such mistakes more easily.

[2019-07-11 20:51] chraibi commented on #381
In Gitlab by @anna-braun on Jun 18, 2019, 14:10

closed

[2019-07-11 20:51] chraibi commented on #381
In Gitlab by @chraibi on Jun 18, 2019, 16:56

What exactly do you mean?

it's not possible to catch all kind of misuse of jpscore. But if you give some pointers, I'm sure Tobi will be forthcoming!

[2019-07-11 20:51] #381 closed

[2019-07-11 20:51] chraibi opened #382 "Writing Errors for WAs"
In Gitlab by @anna-braun on Jun 24, 2019, 13:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/330)]

In issue #327 we had to spend a lot of time to find our problem and in the end it was just one wrong letter in the definition of a waiting area.
As we have mentioned in #327 the simulation failed, without writing an error to the log-file. In the huge files for KapaKrit we m

[2019-07-11 20:51] chraibi opened #383 "Issue208 - [merged]"
In Gitlab by @ellerbrock1 on Feb 3, 2017, 13:10 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/2)]

_Merges issue208 -> develop_

Finished and tested

[2019-07-11 20:51] chraibi commented on #383
In Gitlab by @ArneGraf on Feb 3, 2017, 13:11

merged

[2019-07-11 20:51] chraibi commented on #383
In Gitlab by @ArneGraf on Feb 3, 2017, 13:11

mentioned in commit 39a0e5210f462c6a26dd6281a185dcf1ab29600d

[2019-07-11 20:51] #383 closed

[2019-07-11 20:51] chraibi opened #384 "Resolve "Initialize pedestrians from file" - [merged]"
In Gitlab by @chraibi on Mar 3, 2017, 19:47 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/3)]

_Merges 241-initialize-pedestrians-from-file -> develop_

Closes #241

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 3, 2017, 19:48

enabled an automatic merge when the pipeline for 582fa5759539e5aae63bfa6096dff1d65bdfaf1e succeeds

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 4, 2017, 00:06

added 2 commits

* dfb7c8cb - don&#x27;t make any requirement on the file name
* c9d3353a - Add option for unit.

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/3/diffs?diff_id=29&start_sha=582fa5759539e5aae63bfa6096dff1d65bdfaf1e)

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 4, 2017, 00:55

closed

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 4, 2017, 00:55

reopened

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 4, 2017, 01:16

merged

[2019-07-11 20:51] chraibi commented on #384
In Gitlab by @chraibi on Mar 4, 2017, 01:16

mentioned in commit 5640bdc660d23114e94c0e785d71fc70976637b7

[2019-07-11 20:51] #384 closed

[2019-07-11 20:52] chraibi opened #385 "Make visualisation specific changes in jpsvis - [merged]"
In Gitlab by @chraibi on Mar 4, 2017, 01:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/4)]

_Merges 240-wrong-z-component-in-trajectories -> develop_

Fixes #240
Avoid changing trajectories just to make
visualisation look nice. :-(

Closes #240

[2019-07-11 20:52] chraibi commented on #385
In Gitlab by @chraibi on Mar 4, 2017, 01:02

merged

[2019-07-11 20:52] chraibi commented on #385
In Gitlab by @chraibi on Mar 4, 2017, 01:02

mentioned in commit 314dbd4a27dd8e7b9200bc075554793b70275919

[2019-07-11 20:52] #385 closed

[2019-07-11 20:52] chraibi opened #386 "Rimeatests - [closed]"
In Gitlab by @chraibi on Mar 23, 2017, 18:06 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/5)]

_Merges rimeatests -> develop_

[2019-07-11 20:52] chraibi commented on #386
In Gitlab by @chraibi on Apr 24, 2017, 16:37

closed

[2019-07-11 20:52] chraibi commented on #386
In Gitlab by @chraibi on Apr 24, 2017, 16:38

this branch contains large files. Should be cleaned first

[2019-07-11 20:52] #386 closed

[2019-07-11 20:52] chraibi opened #387 "Rt2develop - [merged]"
In Gitlab by @chraibi on Apr 24, 2017, 20:12 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/6)]

_Merges rt2develop -> develop_

[2019-07-11 20:52] chraibi commented on #387
In Gitlab by @chraibi on Apr 24, 2017, 20:14

enabled an automatic merge when the pipeline for 20758e91fd13a9f636273874cf840609eef6b1c3 succeeds

[2019-07-11 20:52] chraibi commented on #387
In Gitlab by @chraibi on Apr 25, 2017, 08:55

merged

[2019-07-11 20:52] chraibi commented on #387
In Gitlab by @chraibi on Apr 25, 2017, 08:55

mentioned in commit 97539def2e0d6fa9cf944f112106ab9cdff473a5

[2019-07-11 20:52] #387 closed

[2019-07-11 20:52] chraibi opened #388 "Reportscript - [merged]"
In Gitlab by @ArneGraf on Aug 9, 2017, 13:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/7)]

_Merges reportscript -> develop_

[2019-07-11 20:52] chraibi commented on #388
In Gitlab by @ArneGraf on Aug 28, 2017, 10:52

merged

[2019-07-11 20:52] #388 closed

[2019-07-11 20:52] chraibi opened #389 "Merge prototype - [merged]"
In Gitlab by @chraibi on Aug 31, 2017, 17:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/8)]

_Merges mergePrototype -> develop_

[2019-07-11 20:52] chraibi commented on #389
In Gitlab by @chraibi on Aug 31, 2017, 17:46

merged

[2019-07-11 20:52] chraibi commented on #389
In Gitlab by @chraibi on Aug 31, 2017, 17:46

mentioned in commit 198e3f88243eed4c0e24c647cdbe87f403ff35d0

[2019-07-11 20:52] #389 closed

[2019-07-11 20:53] chraibi opened #390 "Issue255 - [merged]"
In Gitlab by @chraibi on Oct 24, 2017, 16:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/9)]

_Merges issue255 -> develop_

[2019-07-11 20:53] chraibi commented on #390
In Gitlab by @chraibi on Oct 24, 2017, 16:37

merged

[2019-07-11 20:53] chraibi commented on #390
In Gitlab by @chraibi on Oct 24, 2017, 16:38

mentioned in commit ccbf3e92a3ac582c5150d3216affc2cc045a55d5

[2019-07-11 20:53] #390 closed

[2019-07-11 20:53] chraibi opened #391 "Modify SmokeSensor demo + remove debug messages - [merged]"
In Gitlab by @chraibi on Nov 6, 2017, 10:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/11)]

_Merges issue255 -> develop_

[2019-07-11 20:53] chraibi commented on #391
In Gitlab by @chraibi on Nov 6, 2017, 10:02

mentioned in commit 737ef4bb249ffd25917e262f03305fb4192f6b09

[2019-07-11 20:53] chraibi commented on #391
In Gitlab by @chraibi on Nov 6, 2017, 10:02

merged

[2019-07-11 20:53] #391 closed

[2019-07-11 20:53] chraibi opened #392 "Opt includes csv2npy - [merged]"
In Gitlab by @chraibi on Jan 24, 2018, 16:34 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/13)]

_Merges opt_includes_csv2npy -> develop_

[2019-07-11 20:53] chraibi commented on #392
In Gitlab by @chraibi on Jan 25, 2018, 11:38

merged

[2019-07-11 20:53] #392 closed

[2019-07-11 20:53] chraibi opened #393 "Event injection - [merged]"
In Gitlab by @chraibi on Jan 25, 2018, 12:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/14)]

_Merges event_injection -> develop_

Introduces scheduled sources. See #258 for discussion.

[2019-07-11 20:53] chraibi commented on #393
In Gitlab by @chraibi on Jan 25, 2018, 12:25

merged

[2019-07-11 20:53] chraibi commented on #393
In Gitlab by @chraibi on Jan 25, 2018, 12:25

mentioned in commit 0c8fb4ac84978a534882ccb11f18bb850fa8d358

[2019-07-11 20:53] #393 closed

[2019-07-11 20:53] chraibi opened #394 "Windows10 - [merged]"
In Gitlab by @xuqiancheng on Feb 1, 2018, 16:25 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/15)]

_Merges windows10 -> develop_

[2019-07-11 20:53] chraibi commented on #394
In Gitlab by @chraibi on Feb 2, 2018, 14:19

merged

[2019-07-11 20:53] #394 closed

[2019-07-11 20:53] chraibi opened #395 "FloorfieldRouter: Inside/Outside and Subroom Recognition. Calculation only inside of rooms - [merged]"
In Gitlab by @ArneGraf on Apr 9, 2018, 13:46 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/17)]

_Merges issue269_with_ben -> develop_

GridCode knows the inside of rooms. Trialpoints on both sides of one door are checked with boost::within and the inside Point is used to start a wave, marking the inside of a room. Ending at walls/doors.

A new grid is created, hol

[2019-07-11 20:54] chraibi commented on #395
In Gitlab by @ArneGraf on Apr 9, 2018, 15:26

merged

[2019-07-11 20:54] chraibi commented on #395
In Gitlab by @ArneGraf on Apr 9, 2018, 15:26

mentioned in commit cbd4d6610f9f6a1cc3079d0f02395cc32b672dfc

[2019-07-11 20:54] #395 closed

[2019-07-11 20:54] chraibi opened #396 "Resolve "Statistics about deleted agents" - [closed]"
In Gitlab by @chraibi on Apr 10, 2018, 13:11 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/18)]

_Merges 270-statistics -> develop_

Related to  #270

We should make sure, that only *unnaturally* deleted peds get counted.

[2019-07-11 20:54] chraibi commented on #396
In Gitlab by @chraibi on Apr 10, 2018, 13:16

added 1 commit

<ul><li>ff72e571 - fix gitlab CI - missing tag -&gt;  runner is stuck</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/18/diffs?diff_id=472&start_sha=e15ba45e2cb515dd863cb5669d3b529fe91bc2d3)

[2019-07-11 20:54] chraibi commented on #396
In Gitlab by @chraibi on Apr 16, 2018, 03:43

added 1 commit

<ul><li>249b8dfb - :fix: Missing {} for omp-block</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/18/diffs?diff_id=486&start_sha=ff72e57128e0b7c94530ca2f09bb3caaac965fbe)

[2019-07-11 20:54] chraibi commented on #396
In Gitlab by @chraibi on Apr 16, 2018, 03:44

Tobias please check again

[2019-07-11 20:54] chraibi commented on #396
In Gitlab by @chraibi on May 3, 2018, 13:42

closed

[2019-07-11 20:54] #396 closed

[2019-07-11 20:54] chraibi opened #397 "WIP: Resolve "VelocityModel: Pedestrians are too near to each other" - [closed]"
In Gitlab by @chraibi on Apr 18, 2018, 15:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/19)]

_Merges 158 -> develop_

Closes #158

[2019-07-11 20:54] chraibi commented on #397
In Gitlab by @chraibi on Apr 18, 2018, 15:54

closed

[2019-07-11 20:54] #397 closed

[2019-07-11 20:54] chraibi opened #398 "Issue269 with ben Merge into dev - [merged]"
In Gitlab by @ArneGraf on May 2, 2018, 10:06 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/20)]

_Merges issue269_with_ben -> develop_

floorfield is more robust. in math/[]model.cpp::ComputeNextTimestep(..) the mechanic to repeat previous step if close to targetline is still in. we need to find a better solution.

[2019-07-11 20:54] chraibi commented on #398
In Gitlab by @ArneGraf on May 2, 2018, 10:08

merged

[2019-07-11 20:54] #398 closed

[2019-07-11 20:54] chraibi opened #399 "Issue 158 - [merged]"
In Gitlab by @chraibi on May 3, 2018, 14:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/21)]

_Merges 158 -> develop_

This branch solves several bugs related to the source manager:

1.  The shared state of the `building` between the main thread and the source thread may not be synchronous. Therefore, duplicate agents can be generated (having the same position).

[2019-07-11 20:54] chraibi commented on #399
In Gitlab by @chraibi on May 3, 2018, 14:13

merged

[2019-07-11 20:54] chraibi commented on #399
In Gitlab by @chraibi on May 3, 2018, 14:13

mentioned in commit 311f63fae565010382ca1901dae52f418f0b4fa6

[2019-07-11 20:55] #399 closed

[2019-07-11 20:55] chraibi opened #400 "Resolve "Statistics about deleted agents" - [closed]"
In Gitlab by @chraibi on May 18, 2018, 18:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/23)]

_Merges 270-statistics -> develop_

Closes #270

[2019-07-11 20:55] chraibi commented on #400
In Gitlab by @chraibi on May 18, 2018, 18:59

closed

[2019-07-11 20:55] #400 closed

[2019-07-11 20:55] chraibi opened #401 "Resolve "Statistics about deleted agents" - [merged]"
In Gitlab by @chraibi on May 18, 2018, 19:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/24)]

_Merges 270-statistics -> develop_

Closes #270

[2019-07-11 20:55] chraibi commented on #401
In Gitlab by @chraibi on May 18, 2018, 19:02

added 49 commits

<ul><li>249b8dfb...1db2aa23 - 48 commits from branch <code>develop</code></li><li>3c5f575c - Merge branch &#39;develop&#39; into &#39;270-statistics&#39;</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/24/diffs?diff_id=563&start_sha=249b8dfb396f1134bdf840c0bb80ffae1999266

[2019-07-11 20:55] chraibi commented on #401
In Gitlab by @chraibi on May 18, 2018, 19:04

enabled an automatic merge when the pipeline for 3c5f575cd05ed7915812705a5516871dbfc86397 succeeds

[2019-07-11 20:55] chraibi commented on #401
In Gitlab by @chraibi on May 18, 2018, 19:04

canceled the automatic merge

[2019-07-11 20:55] chraibi commented on #401
In Gitlab by @chraibi on May 18, 2018, 19:04

merged

[2019-07-11 20:55] chraibi commented on #401
In Gitlab by @chraibi on May 18, 2018, 19:04

mentioned in commit 9fd03ad62eec205bf97ce1506e8c9b250ed5ad38

[2019-07-11 20:55] #401 closed

[2019-07-11 20:55] chraibi opened #402 "v0.8.3 - [merged]"
In Gitlab by @chraibi on May 18, 2018, 19:06 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/25)]

_Merges chraibi1-develop-patch-34161 -> develop_

[2019-07-11 20:55] chraibi commented on #402
In Gitlab by @chraibi on May 18, 2018, 19:06

merged

[2019-07-11 20:55] chraibi commented on #402
In Gitlab by @chraibi on May 18, 2018, 19:06

mentioned in commit 09cceb82fecd39ab75baa2b30a092b92ec17c0f8

[2019-07-11 20:55] #402 closed

[2019-07-11 20:55] chraibi opened #403 "implement Fridolf2018 - [merged]"
In Gitlab by @planospeedo on Jun 26, 2018, 13:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/29)]

_Merges jpsfire_walkingspeed -> develop_

[2019-07-11 20:55] chraibi commented on #403
In Gitlab by @chraibi on Sep 28, 2018, 14:40

added 19 commits

<ul><li>2a71262f...e8edef8c - 18 commits from branch <code>develop</code></li><li>38d5af93 - Merge branch &#39;develop&#39; into &#39;jpsfire_walkingspeed&#39;</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/29/diffs?diff_id=905&start_sha=2a71262fa631b464f0803d99195edd87e

[2019-07-11 20:55] chraibi commented on #403
In Gitlab by @chraibi on Sep 28, 2018, 14:40

merged

[2019-07-11 20:56] chraibi commented on #403
In Gitlab by @chraibi on Sep 28, 2018, 14:40

mentioned in commit 6f05620093059c526d3d3f6a6f597732f56690d3

[2019-07-11 20:56] #403 closed

[2019-07-11 20:56] chraibi opened #404 "Toxicity analysis - [merged]"
In Gitlab by @chraibi on Oct 17, 2018, 08:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/31)]

_Merges toxicity_analysis -> develop_

[2019-07-11 20:56] chraibi commented on #404
In Gitlab by @planospeedo on Oct 19, 2018, 15:45

merged

[2019-07-11 20:56] chraibi commented on #404
In Gitlab by @planospeedo on Oct 19, 2018, 15:45

mentioned in commit 7c4f10616b0f8ed252fb51b5f7da52ef14ae3e9e

[2019-07-11 20:56] #404 closed

[2019-07-11 20:56] chraibi opened #405 "Fix path operation for ToxAnalysis output - [merged]"
In Gitlab by @chraibi on Oct 20, 2018, 23:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/34)]

_Merges fix_path_toxAnalysis -> develop_

If we run the 0_demo like this

[code]

then this happens

![Screen_Shot_2018-10-20_at_23.53.35](https://gitlab.version.fz-juelich.de/JuPedSim/jpscore/uploads/2cf5c259d648c1e3c9704889e8fd7263/Screen_Shot_2018-10-20_at_23.53.35.p

[2019-07-11 20:56] chraibi commented on #405
In Gitlab by @chraibi on Oct 21, 2018, 18:21

added 1 commit

<ul><li>532f5449 - remove annoying print</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/34/diffs?diff_id=960&start_sha=dcb9840e060dac65a92b7d1eb3e710301832735e)

[2019-07-11 20:56] chraibi commented on #405
In Gitlab by @chraibi on Oct 22, 2018, 00:03

merged

[2019-07-11 20:56] chraibi commented on #405
In Gitlab by @chraibi on Oct 22, 2018, 00:03

mentioned in commit 0c5663bcaa97e0f7c17eb19968c8f22174c3540c

[2019-07-11 20:56] #405 closed

[2019-07-11 20:56] chraibi opened #406 "First working version of cutting big walls - [merged]"
In Gitlab by @chraibi on Oct 24, 2018, 21:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36)]

_Merges 281-continuous-walls -> develop_

Closes #281

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @chraibi on Oct 26, 2018, 19:32

added 2 commits

<ul><li>4fc90d6d - Refactor choosing point to add in a function</li><li>2c9f0598 - WIP: Recursively cutting big lines</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=971&start_sha=c4d6153bb42038458af8284adb20eaef1ff7eedb)

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @chraibi on Oct 26, 2018, 21:50

added 4 commits

<ul><li>d7a2f635 - whitespaces in subroom</li><li>1b970a09 - correct path to doc file</li><li>f1ef7557 - remove some debug messages</li><li>2f7b81fd - Consider crossings and transitions in cutting ..</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=972&star

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @chraibi on Oct 27, 2018, 02:35

added 4 commits

<ul><li>894437af - add unit tests for clean geometry</li><li>f8b94e49 - Add new clean geometry test</li><li>c0e7df6b - Add documentation for new functions</li><li>54055e46 - Remove doors on walls</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=973&start_sh

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @chraibi on Oct 28, 2018, 19:38

added 1 commit

<ul><li>9d97ed13 - Remove exists nearly on walls</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=974&start_sha=54055e4611d406c9b727f7c77c1b4dec80baf9a4)

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @chraibi on Oct 28, 2018, 19:48

added 1 commit

<ul><li>22e2d940 - Add clean geometry test 5</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=975&start_sha=9d97ed138aba8030035662ffc9f1dffd2808b738)

[2019-07-11 20:56] chraibi commented on #406
In Gitlab by @anna-braun on Oct 29, 2018, 12:59

added 1 commit

<ul><li>2491a87e - new tests</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=977&start_sha=22e2d940d7d32949f9c191a881c5a2804666355a)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Oct 30, 2018, 10:47

added 4 commits

<ul><li>1161727f - uncomment come messages</li><li>946ba14c - Merge branch &#39;281-continuous-walls&#39; of…</li><li>809ac43c - Better logs in subroom addwall</li><li>18d84d6e - Reimplement function for removing overlaping exits</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requ

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Oct 30, 2018, 18:10

added 1 commit

<ul><li>848e9dec - rremove duplicate code</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=982&start_sha=18d84d6e60237b03f462e9c4a89336c7f7745c8c)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Oct 30, 2018, 20:08

added 1 commit

<ul><li>ae2aaf2b - Save corrected geometry to file</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=983&start_sha=848e9decc3e6fff12f7fc6b785890acf4aa8cfeb)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Oct 31, 2018, 10:43

added 1 commit

<ul><li>0aecf815 - add new corrected file to trajectory file</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=984&start_sha=ae2aaf2bf72b624e15c7b6955087466230df2f6c)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @anna-braun on Oct 31, 2018, 14:56

added 1 commit

<ul><li>ab260c41 - test 7 - octagon</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=986&start_sha=0aecf815ab5162611e5c72115e6898fd035f900d)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @anna-braun on Nov 5, 2018, 08:32

added 1 commit

<ul><li>ec52903e - test 8 (works) &amp; test 9 (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=990&start_sha=ab260c416d394a1149d82e6c7a59428e1a40a236)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @anna-braun on Nov 5, 2018, 09:13

added 1 commit

<ul><li>c45d3166 - test9.2 (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=991&start_sha=ec52903ed4e41b8448fcd60fff357dcccb2a5a36)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @anna-braun on Nov 6, 2018, 08:22

added 1 commit

<ul><li>505d9089 - Test9 new</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=995&start_sha=c45d3166a90d3d45b93341d7871e9a79ae220eed)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @anna-braun on Nov 6, 2018, 10:16

added 1 commit

<ul><li>9eb1d657 - test10 complex geometry (does not work)</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=996&start_sha=505d908915ee70e6457d96a676acb5206285aac4)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 6, 2018, 16:35

added 1 commit

<ul><li>3a084f2f - write off corrected geometry if correction is made</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/36/diffs?diff_id=998&start_sha=9eb1d657a3c21d510c8caaec1aa327dce0d5dad7)

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 08:27

added 4 commits

<ul><li>3daa7c00 - count neighboring walls/crossings/transitions</li><li>47567f76 - choose piece wall with highest count &gt;= 2</li><li>822947a8 - remove unnecessary debug messages and warning ff-r</li><li>a06b4f4a - small chenges</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_req

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 09:01

unmarked as a **Work In Progress**

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 09:02

closed

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 09:06

reopened

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 09:11

mentioned in commit 5487283907ac332acb380049f51e31227037e0dc

[2019-07-11 20:57] chraibi commented on #406
In Gitlab by @chraibi on Nov 8, 2018, 09:11

merged

[2019-07-11 20:57] #406 closed

[2019-07-11 20:57] chraibi opened #407 "Resolve "Continuous walls" - [closed]"
In Gitlab by @chraibi on Nov 8, 2018, 09:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/37)]

_Merges 281-continuous-walls -> develop_

Closes #281

[2019-07-11 20:57] chraibi commented on #407
In Gitlab by @chraibi on Nov 8, 2018, 09:06

closed

[2019-07-11 20:57] #407 closed

[2019-07-11 20:58] chraibi opened #408 "Crossings in different rooms can have same ID - [merged]"
In Gitlab by @chraibi on Nov 9, 2018, 15:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/merge_requests/39)]

_Merges 292-crossing-ids -> develop_

Closes #292

- Crossings should be unique within a room.

[2019-07-11 20:58] chraibi commented on #408
In Gitlab by @chraibi on Nov 9, 2018, 15:26

mentioned in commit deb4b66cd9b8c1e8aed6416b176f39dc62b2c0a1

[2019-07-11 20:58] chraibi commented on #408
In Gitlab by @chraibi on Nov 9, 2018, 15:26

merged

[2019-07-11 20:58] #408 closed

[2019-07-11 21:09] chraibi opened #934 "Reload function"
In Gitlab by @chraibi on Dec 10, 2014, 11:04 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/18)]

Another enhancement would be a "reload" control button to reload the actual respectively last project file.

[2019-07-11 21:11] chraibi opened #933 "Escalators"
In Gitlab by @chraibi on Jul 8, 2015, 15:36 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/31)]

We have new types of `stairs`

1. `escalator`
2. `idle_escalator`

[2019-07-11 21:14] chraibi opened #932 "Geometry structure"
In Gitlab by @chraibi on Nov 14, 2016, 13:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/46)]

Visualize pedestrians in visible rooms only.

[2019-07-11 21:14] chraibi opened #931 "Diplay Captions of Transitions"
In Gitlab by @chraibi on Jan 25, 2017, 11:33 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/48)]

[2019-07-11 21:16] chraibi opened #930 "visualization of velocity and desired velocity vectors"
In Gitlab by @xuqiancheng on Mar 22, 2018, 17:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/56)]

[2019-07-11 21:22] chraibi opened #929 "Reading external files"
In Gitlab by @anna-braun on Apr 10, 2019, 10:07 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsvis/issues/73)]

Since we have external files for sources, goals, etc. in `jpscore`, we should also be able to read these files in `jpsvis` to visualize
goals, sources, etc.

 - [x] sources
 - [x] goals
 - [ ] events:
      - **Doors should change color depending on their state (open or close

[2019-07-16 14:10] anna-braun opened #412 "Reseting max_agents"
In _traffic_constraints_ we can give doors the parameter _max_agents_. If _max_agents_ have passed a door it will be closed permanently. For several reasons it should be possible to reopen such doors and reset the counter of _max_agents_ when the doors are reopened. Here are two ideas for it:
1.  Adapting the schedules so that they can be controlled by time and by max_agents.
-> The doors will be

[2019-07-17 02:27] chraibi commented on #412
I guess solution 2 is more intuitive.

The original purpose of `max_agents` was to assure a (*permanent*) limit for the door. What if you simply take a very big value (inf)?

[2019-07-17 02:31] chraibi commented on #382
any updates here?

[2019-07-17 02:31] chraibi commented on #380
@gjaeger  is this issue solved yet?

[2019-07-17 03:10] chraibi opened #413 "Unnecessary dependency on Boost/random"
Any special reason why in [Trips](https://github.com/JuPedSim/jpscore/blob/develop/geometry/Trips.cpp#L6) Boost is used to produce random numbers?

I think this functionality is standard in [C++11](https://en.cppreference.com/w/cpp/numeric/random/mersenne_twister_engine) and should be used instead.

[2019-07-17 03:51] chraibi opened #414 "Warnings and code style in WaitingAreas"
It would be good to fix these warnings:

<img width="1225" alt="Screenshot 2019-07-17 11 47 59" src="https://user-images.githubusercontent.com/5772973/61345732-dd1a0780-a888-11e9-94bb-ed5a7942fb5a.png">

Besides, in the throughout the code, the convention of appending a `_` to member variables is used.  Therefore, it would be also good to stick to this convention in this [class](https://github.com

[2019-07-17 05:41] gjaeger commented on #380
On GitHub, I can't find the branch _325_header_ from gitlab. There I changed the demo files. We haven't integrated the branch yet.

@chraibi: You had made changes to this branch ( _325_header_) on gitlab. I can't find them.

I am a bit confused.

[2019-07-17 07:01] gjaeger commented on #380
closed after merge request #416

[2019-07-17 23:44] Ozaq commented on #309
@chraibi & @anna-braun

I did some testing with `wa_per_door` as you uploaded and  2k peds. The problem is jspcore is trying to open too many files at once. Linux and MacOS limit the number of open file handles per default to 1024. you can check this with `ulimit -n`. I did temporarily increase my open file limit to 100000 `ulimit -n 100000` and got the test to pass. Be aware that if you set the u

[2019-07-18 09:19] schroedtert opened #418 "More general output"
Proposal:
Instead of only writing one of the properties to the output file, write all available features as velocity, router, intermediate/final goal, to output file. With this the wanted property can be displayed in jpsvis without need to run a simulation multiple times when different properties are needed.

[2019-07-18 12:31] anna-braun commented on #309
@Ozaq
Thank you for your help.
I started a simulation this morning and it is still running. So it seems to work now :)

[2019-07-18 12:32] chraibi commented on #418
Good idea.
Maybe only for txt-files?

[2019-07-18 14:51] planospeedo opened #420 "Pedestrian Distribution"
in function **_PossiblePositions_** from **_PedDistributor.cpp_**

`

    double bufx = 0.12;
    double bufy = 0.12;
    double amin = 0.18; // = GetAmin()->GetMean();
    double bmax = 0.25; // = GetBmax()->GetMean();
    double dx = amin + bufx;
    double dy = bmax + bufy;

`

With this, the distribution is hardcoded to dx = 0.3 m and dy = 0.37 m, which is a problem when using bigger pedestria

[2019-07-18 15:37] gjaeger commented on #420
@planospeedo Should the values (in the code) only be increased? Or should they be dependent on the input?

[2019-07-18 15:55] planospeedo commented on #420
@gjaeger input-dependent I suppose, otherwise it is for instance not possible to have high initial densities with smaller pedestrian sizes

[2019-07-18 15:58] gjaeger commented on #420
OK. That would be my suggestion too.

[2019-07-18 16:48] gjaeger commented on #420
The change was made at commit c30e7ad on Jul 4, 2014.

[2019-07-19 11:50] anna-braun opened #426 "Corner (routing)"
When I did the first simulations (floor field, Tordeux, waiting areas) for KapaKrit the routing around corners does not work well. The agents do not use the whole space of the corners, so there is a huge congestion in front of the corners. I did several test with different parameters and routers, but the result is the same.
**Geometry:** [L-oT.xml.txt](https://github.com/JuPedSim/jpscore/files/341

[2019-07-19 15:50] chraibi opened #428 "Create pre-commit hook for clang-format"
- Use `travis` to automatically check the code formating of PRs.
- use [clang-format](https://clang.llvm.org/docs/ClangFormat.html)
- maybe useful: build `.clang-format` [interactively](https://www.clangformat.com/)

[2019-07-19 15:52] schroedtert commented on #428
We should also put the contribution guide to GitHub not only on JuPedSim.org and also add naming convention (camelcase, pascal case for all types).

[2019-07-19 15:54] chraibi opened #429 "Add osx to travis builds"
**Is your feature request related to a problem? Please describe.**
`travis`'matrix does not yet include `osx`

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**
Alternativlos! ^^

**Additional context**

<img width="763" alt="Screenshot 2019-07-19 17 09 10" src="https://user-images.githubusercontent.com/5772973/61548551-8840e180-aa80-11e9-854e-86305ea96d99.png

[2019-07-19 15:58] chraibi commented on #426
The problem is not related to `Tordeux2015`, but ff-router-specific.

[2019-07-19 17:40] schroedtert commented on #412
@chraibi Is the regulation of the flow of normal still working? For a simple case in the current commit 6b9e0f0b2d4469ecdcc326937e0d7f03fdf5cced it did not work for me. The is not closed after max_agents passed through it.

[412-reset-door.zip](https://github.com/JuPedSim/jpscore/files/3412113/412-reset-door.zip)

[2019-07-20 02:26] chraibi opened #430 "Update link to Code"
**JuPedSim - JPScore**
Link to [Code](http://www.jupedsim.org/jpscore/)

points to GitLab.

Should be changed to GitHub.

[2019-07-20 10:11] gjaeger commented on #430
closed after merged.

[2019-07-20 10:11] #430 closed

[2019-07-21 00:20] chraibi commented on #412
It works fine, but, you use `dn=0`.

However, according to http://www.jupedsim.org/jpscore/2016-11-01-inifile.html#traffic-constraints

In [simulation.cpp](https://github.com/JuPedSim/jpscore/blob/develop/Simulation.cpp#L1112)
[code]
the condition is never triggered when `dn==0`.

Another *hack*:

This all works only when you activate

Because as we can see in this  [line](https://github.com/JuPed

[2019-07-21 00:31] chraibi opened #436 "Remove xsd Files."
**Is your feature request related to a problem? Please describe.**
We have some `xsd` files, however, there are not up to date.

Unless we can find an easy way to validate our XML files using these XSD files, I don't see the point in keeping them around.

Any ideas?

[2019-07-21 01:33] chraibi opened #437 "Update xsd information in demo files"
**Is your feature request related to a problem? Please describe.**
In the `xml` files (ini and geo) there is information pointing to the appropriate `xsd` scheme.
This information is outdated and needs update.

**Describe the solution you'd like**
From

[code]

to

[code]
**Additional context**
Helpful with validation of xml files e.g. with online validators.

[2019-07-21 11:21] Ozaq commented on #436
XSD files are the specs for your XML files and as such are invaluable information when trying to parse or generate those XML files. I would suggest to update them and move from tinyxml to xerceces (https://xerces.apache.org/xerces-c/) Xerxes has a build in validation ox XML files versus their XSD. If I remember correctly the generated error messages are solid and allow the creator of an XML file t

[2019-07-21 11:47] Ozaq commented on #436
Looking trough the issues its things like #382  #161 that probably would be a lot less hassle if xml validation with the accompanying xsd was used.

[2019-07-21 12:01] schroedtert opened #439 "Clean up Macros.h"
We should check Macros.h for unused code and also for code which is unnecessary public, e.g. some of the enums are just class wide used.

[2019-07-21 13:55] chraibi commented on #436
I'm with you that validating of xml files with xsd will save us a lot of trouble.
I'll have a look at xerces. It looks like it can do what we want..

[2019-07-21 16:34] Ozaq commented on #436
I worked some with Xerxes in the past and it was pretty good, but i think migration would be a significant effort due to the difference in API. Still worth it though imo.

[2019-07-21 19:41] anna-braun commented on #426
Okay, but why does it work with ff-router and gradnav, but not with ff-router and Tordeux2015?

[2019-07-22 18:21] anna-braun commented on #412
@chraibi (@anna-braun: would it be enough to set the door's state to tempClose instead of close?)
I guess temp close is also okay, if a reset is possible with this.

[2019-07-23 07:46] schroedtert commented on #412
Temp close would have the effect, that peds would wait in front of that door instead of searching for a available exit. To our use case with train doors, I think close is more appropriate.

[2019-07-23 07:47] gjaeger commented on #420
@planospeedo can wie close this issue?

[2019-07-23 07:51] #420 closed

[2019-07-23 15:17] anna-braun commented on #412
@schroedtert "close" is okay, if the agents are waiting at any place inside the room if there is no exit open.

[2019-07-24 05:37] schroedtert commented on #236
We still have this issue. Do we want to support the outdated OpenMP version? Or do we want all Windows developer to install a different compiler? If we decide so, we should require a specific OpenMP version in our CMake.

[2019-07-24 21:51] Ozaq commented on #236
Hmm requiring gcc or clang on windows opens a whole other can of worms...

[2019-07-30 11:51] schroedtert commented on #382
Closed with 7d5ed737646c0313760eb64de80f6b20fa5ace25

[2019-07-30 11:51] #382 closed

[2019-07-30 11:51] schroedtert commented on #414
Closed with 7d5ed737646c0313760eb64de80f6b20fa5ace25

[2019-07-30 11:51] #414 closed

[2019-07-30 11:52] schroedtert commented on #413
Closed with 7d5ed737646c0313760eb64de80f6b20fa5ace25

[2019-07-30 13:10] #413 closed

[2019-07-30 15:36] chraibi opened #445 "Cmake Find OpenMP is port specific"
**JuPedSim - JPScore**

Branch `develop`. In the changes introduces in #440

I think these lines here are port-specific:

[code]

For `brew` openmp would be located in `/usr/local/Cellar/libomp/` instead.

[2019-07-30 16:48] Ozaq commented on #445
@chraibi Only the paths you see are macport specific but they only work as additional search paths, CMake will still try to find the libs under the "normal" paths like `/usr/lib` or '/usr/include`. See https://cmake.org/cmake/help/v3.15/command/find_library.html for a full treatment on the search paths. The `find_library` / `find_path` calls are also used / necessary when using brew. The differenc

[2019-07-30 16:57] Ozaq commented on #311
@anna-braun @chraibi  I would like to look into this one, did this happen since again since you reported the issue? Can you upload the files to github? Looks like the links broke when exporting from gitlab.

[2019-07-31 01:33] chraibi commented on #311
@Ozaq I updated the links
@anna-braun can you still reproduce this bug?

[2019-07-31 09:32] schroedtert commented on #412
At the moment agents which are within a room with no open transition will be deleted as they have no way to the outside. This will need some larger adjustments.

@anna-braun @chraibi One question: Do we want a particular event for resetting the counter of the door usage or should it be done when opening a door by event? I assume with introducing a new event we may get more control.

[2019-07-31 10:33] anna-braun commented on #412
@schroedtert yes a new event could be good.
How did you think this could look like?

[2019-07-31 10:36] anna-braun commented on #311
@chraibi @Ozaq
I did not have this bug since I reported the issue, but I will test if it still occurs.

[2019-07-31 12:33] orth-tim commented on #311
I had a malloc_error a few days ago:
![error](https://user-images.githubusercontent.com/51954394/62211233-41b38700-b39e-11e9-963b-456ebc10d0f6.png)

Here is the folder with the [files](https://1drv.ms/u/s!AsV6LgpLPxYhgdNY_MrjJlqyIuMOwg?e=U5eebB).
The simulation is working with goal id ="10101" (not used in the simulation). The error only occurs after deleting this goal, deleting all other not used

[2019-07-31 12:56] chraibi commented on #311
@orth-tim could you please post information about your jpscore version?

maybe first run cmake, then make and post the output of jpscore.

[2019-07-31 13:12] orth-tim commented on #311
I hope this ist helping:
<img width="558" alt="jpscore" src="https://user-images.githubusercontent.com/51954394/62214312-16806600-b3a5-11e9-9372-6c9954f3a815.png">

[2019-07-31 13:15] Ozaq commented on #311
@orth-tim thanks I think I can start investigating with this. If I need more info Ill post it in this issue.

[2019-08-01 08:53] Ozaq commented on #311
I have encountered several issues:
*  I cannot find the version info @orth-tim provided (g94a8e0ee) in the main git or any fork, neither the `kapakrit-anna` branch
* With current develop I cannot reproduce the error. I tried the `working` and `non_working` examples @orth-tim provided and tried to modify the working one by removing goal 10101. All run to completion.
* I tried to run `Personen_setti

[2019-08-01 13:45] JonasRzez opened #448 "JPScore stores trajecotry files in a convoluted path of directories."
**JuPedSim - JPScore**

Current date   : Aug  1 2019 14:46:17
Version        : 0.8.4
Compiler       : clang++ (10.0.1)
Commit hash    : v0.8.4-145-g9e20eda0
Commit date    : Tue Jul 30 16:47:41 2019
Branch         : develop

When running a demo scenario jpscore produces a convoluted path of directories to store the trajectory file:
</Users/jonas/Documents/FZJülichPHD/jupedsim/jpscore/build/Users/

[2019-08-01 13:54] chraibi commented on #311
@orth-tim  your code is very old. Please update.
@ozak: I can check this tomorrow. You've got a log-file from the simulation saying why it does not distribute agents?

[2019-08-01 14:02] Ozaq commented on #311
Eh yes ofc... should have added that directly:
[code]

[2019-08-01 14:05] chraibi commented on #311
@ozak then you are lucky. It can not distribute 40 when there is only room for 16 :-)
 I remember @xuqiancheng did some little change lately. Could be the grid is too big?

But now, I just tested the `not_working` case and found something very disturbing.

![Screenshot 2019-08-01 22 02 32](https://user-images.githubusercontent.com/5772973/62299882-685de480-b4a8-11e9-943d-6b396d62b1b2.png)

Probabl

[2019-08-01 14:07] chraibi commented on #448
Tobi @schroedtert  could you please have a look?

[2019-08-01 14:07] #445 closed

[2019-08-01 14:08] Ozaq commented on #311
@chraibi This is strange, the not working case produced this for me:
[code]

[2019-08-01 14:38] schroedtert commented on #448
@chraibi Can you send me your CMake output, most important which compiler did you use?

[2019-08-01 14:50] chraibi commented on #448
![Screenshot 2019-08-01 22 48 36](https://user-images.githubusercontent.com/5772973/62303435-b1b13280-b4ae-11e9-84a3-6cddfdef9dca.png)

[2019-08-01 23:52] chraibi commented on #448
What is the outcome of this simulation, when you compile with `brew g++` or `port g++`?

Is this perhaps related to `boost::fs`?

[2019-08-02 00:00] chraibi commented on #311
I think `fs::boost` and `fs::std` are behaving differently. To be continued in #448

[2019-08-02 06:44] schroedtert commented on #448
It is related to `boost::fs`, when I tried it with `std::fs` it worked fine.
Somehow `rel_path` is set to the absolute path, hence creating this convoluted path.

[2019-08-02 07:57] chraibi commented on #448
Oh! that's nasty! So `boost:fs` and `std::boost` have different behaviors.

Maybe it's easy to fix though..

[2019-08-02 08:06] Ozaq commented on #448
@chraibi Just for clarification: The trajectories file shall be written to a path/name relative to the path where the ini file is located?

I think this could fix it:
[code]

[2019-08-02 08:29] schroedtert commented on #448
Thanks, this fixes indeed the reading and creating of the filename. But still while writing the files there is something wrong.
Small question what is the state of the art method for writing to files?
At the moment we are using `basic_ofstream`

[2019-08-02 08:35] Ozaq commented on #448
Yeah I see the same here... somethings amiss..

ofstream is perfectly reasonable to use for what I have seen here so far.

[2019-08-02 08:38] schroedtert commented on #448
The problem is `std::fs` returns paths with a `/` at the end and `boost::fs` without ...

[2019-08-02 08:40] Ozaq commented on #448
can you point to the code where this becomes a problem?

[2019-08-02 08:46] schroedtert commented on #448
Okay, maybe we have some duplicate code ... The same part as above is also in Simulation.cpp#156ff

[2019-08-02 08:51] Ozaq commented on #448
This code seems to control the "default" output location in case it was not set in the ini file. Needs some refactoring...

None unless its implemented in jpscore anywhere... For all defaults see: https://en.cppreference.com/w/cpp/string/basic_string

[2019-08-02 09:48] Ozaq commented on #448
@JonasRzez @chraibi If you build from develop this should be fixed.

[2019-08-02 09:54] Ozaq commented on #284
@chraibi I think this can be closed unless there is still stuff missing. If so could you add the missing things here so that I can resolve them? Cheers!

[2019-08-02 11:58] anna-braun commented on #319
I started a simulation with Jureca today and I have a similar problem. The Trajectories have been written to the directory "Simulationen/test-01", but the statistic files and goal.vtk have been written to the root directory:
![Bildschirmfoto 2019-08-02 um 13 31 16](https://user-images.githubusercontent.com/38530070/62368121-f7601080-b52b-11e9-8fe9-61e4e5c10d1d.png)

@chraibi @schroedtert Is there

[2019-08-02 12:10] xuqiancheng commented on #311
@chraibi @Ozaq
If you work in develop branch, the grid size depends on the size of agents. And we have to leave enough space between agents and walls.
In Personen_ini.xml. model 4 is used, and radius of agents is 0.4 (too big?).
I think we may need to reduce the size of agents.

[2019-08-04 14:48] chraibi commented on #448
Thanks, guys! @Ozaq, @schroedtert
 This works well for this example.

But not general enough, I fear.

![Screenshot 2019-08-04 22 44 33](https://user-images.githubusercontent.com/5772973/62425083-a6a60e80-b709-11e9-85b0-657e77a1871a.png)

Running  with this version
[code]

produces a SegFault plus a funny looking directory:

![Screenshot 2019-08-04 22 45 13](https://user-images.githubusercontent.c

[2019-08-04 14:51] #284 closed

[2019-08-04 15:22] chraibi commented on #319
During the process of fixing  #448, these files (log, and flow*), I would propose to save these files in the same directory as the trajectory file.

![Screenshot 2019-08-04 23 20 40](https://user-images.githubusercontent.com/5772973/62425694-8a58a080-b70e-11e9-8339-66ca2a77254d.png)

[2019-08-04 15:56] schroedtert commented on #448
@chraibi quick fix for yourself: delete the new line in the traj file location and remove all `./` in front of the paths. But there seem to be some other issues, I’m checking on them.
Shouldn’t be there a `<header>` at the beginning of the ini-file?

[2019-08-04 16:03] chraibi commented on #448
@schroedtert
- SegFault is gone. Header-section was missing. Maybe, in the future we could catch this missing header and exit with grace?

- removing `./` works gut and the weird directory disappears.

[2019-08-04 16:19] schroedtert commented on #448
So header is required now? Maybe we should open a new issues relating to ini file and the format we want to have, etc. So that we can discuss and update the reading properly.
For the next steps: Should a leading whitespaces and `./` be considered or can we close this issue?

[2019-08-04 16:43] gjaeger commented on #380
Based on the discussion in issue #448, I would like to ask the question whether we require the header? Or should we continue to allow both variants (with and without)?

[2019-08-04 16:46] schroedtert commented on #380
We should also talk about about all the option which can be set in the ini-file, which are required, which are optional and what default values should be set if an option is missing and when the reading should be quit with an error message

[2019-08-05 01:31] chraibi commented on #448
Yes, I would suggest "Header" debate in another issue.

I think `./` or even giving full path should be considered. There must be a function that detects this..

[2019-08-05 01:36] chraibi opened #455 "Which options in inifile are optional?"
We should also talk about all the option which can be set in the ini-file,

- which are required?
- which are optional?
- what default values should be set if an option is missing?
- when the reading should be quit with an error message?

[2019-08-05 01:37] chraibi commented on #380
I would say, `header` should be necessary.

If it is missing, `jpscore` should exit with error.

@schroedtert you are right. See #455

[2019-08-05 07:07] anna-braun commented on #301
@chraibi @schroedtert
As we want to compute on Jureca, where we have a defined time slot we need to be able to stop and restart the simulations.

[2019-08-05 09:12] anna-braun commented on #363
@schroedtert here are some examples for a stair in the middle of a room.
The first contains the "hole" in the room as additional walls. The other two examples have a subroom for the holes with crossings to the room. This subrooms could be signed as "holes" or similar.

[Stair_in_room.xml.txt](https://github.com/JuPedSim/jpscore/files/3466743/Stair_in_room.xml.txt)
[Stair_in_room_2.xml.txt](https:/

[2019-08-05 11:04] anna-braun commented on #365
@schroedtert
As discussed here is a file in which you can see that the WA does not distribute the agents evenly according to the probabilities:
[Ausgabe.txt](https://github.com/JuPedSim/jpscore/files/3467237/Ausgabe.txt)

[Personen.xml.txt](https://github.com/JuPedSim/jpscore/files/3467235/Personen.xml.txt)
[Bahnsteig.xml.txt](https://github.com/JuPedSim/jpscore/files/3467226/Bahnsteig.xml.txt)
[e

[2019-08-06 11:21] anna-braun opened #456 "Compilation Error"
**JuPedSim - JPScore**

- Current date   : 06.08.2019
- Compiler       : cmake -DCMAKE_CXX_COMPILER=g++-9 ..
- Branch         : develop

Since yesterday I cannot compile jpscore.
I tried it with "cmake .." and "cmake -DCMAKE_CXX_COMPILER=g++-9 .."
If I compile with make it runs 100% but 2 errors occur and I cannot use jpscore:

![Bildschirmfoto 2019-08-06 um 12 54 12](https://user-images.githubuse

[2019-08-06 12:49] anna-braun opened #458 "Geometry in traj-files"
In the trajectory files the geometry is saved with its path. If the files are moved to an other directory (e.g. Jureca -> Mac) or the directory is renamed, jpsvis cannot find the geometry files. As it is very uncomfortable to adapt all geometry paths we should change the trajectory files and jpsvis:
- Save the geometry without a path in the trajectory files(jpscore)
- Change jpsvis to read geometr

[2019-08-06 12:55] Ozaq commented on #456
Hi @anna-braun to help diagnose the issue can you please do the following:

Create a new and empty build directory, cd to that directory and run `cmake .. ` without the explicit reference to use gcc9 and post the output.

[2019-08-06 13:52] anna-braun commented on #456
@Ozaq
We have solved the problem for me so I cannot reproduce the bug again. But I guess we found the problem as @planospeedo had produced the same error yesterday.

1. OpenMP was not installed. -> Did not cause this error.
2. There was a problem with the "bin" directory. The filesystem could not be found. Before, this was located in the root directory ("jpscore/bin"), now it seems to be located i

[2019-08-07 07:15] Ozaq commented on #456
@anna-braun good to hear! I guess this can then be closed?

[2019-08-07 07:31] planospeedo commented on #456
@Ozaq Normally when building, there would be a separate folder `bin` containing the executable. Now, this `bin` folder appears in the build directory. Was there a change in how the directories are arranged?

[2019-08-07 07:34] Ozaq commented on #456
@planospeedo Yeah there was, all aoutput during build is now created in the build directory. This is commonly called an "out of tree" build. Since nothing is build into the source tree, you can now maintain multiple build direcories, e.g. one for Debug, Release, WITH_OPENMP=OFF etc...

[2019-08-08 08:14] Ozaq opened #459 "Setting a log file location removes errors from output to stdout"
**JuPedSim - JPScore**

- Commit hash    : bbe103745982c63f37a0f907331a441901dd587c

**Describe the bug**
Setting a logfile path in the header section of a ini file will remove error output from stdout.

STDOUT:
[code]

Contents of log.txt:
[code]

**Expected behavior**
Contents of logfile and std out are identical.

**Additional context**
I think the option should be dropped from the headers sect

[2019-08-08 09:41] Ozaq commented on #448
I don't think having a fully qualified path is desirable because this varies from machine to machine, even user to user making the ini files machine/user specific and impossible to share.

In any case paths can be tested with `is_absolute()` and `is_relative()` so this should be fixable.

@chraibi Is there any doc available listing all the mandatory and optional input / output files?

[2019-08-08 14:51] Ozaq opened #461 "Changing the binary output dir to <build>/bin/ broke all tests based on "JPSRunTestDriver""
Ok this is my fault :/ JPSRunTestDriver does some path adjustment and assumes `jpscore` always to be in `<source>/bin/jpscore`. I foolishly thought the test might not run because of different reasons.

I am working on a patch, hope to have it available soon.

[2019-08-08 20:23] gjaeger commented on #461
@Ozaq If you have an idea how we can simplify `JPSRunTestDriver`, this would be great.

A good solution could also be helpful here ([JPSreport, issue 130](https://github.com/JuPedSim/jpsreport/issues/130)).

[2019-08-08 20:34] Ozaq commented on #461
@gjaeger W.r.t. the path to `jpscore`, I would like to make this a test argument, which then can be set from CMake `add_test()`.

One thing that needs discussion are the output files. I would like to generate them into the current working directory or in a specified path, e.g. `jpscore --output-path=...`, but given my current understanding this would make it necessary to generate a relative path i

[2019-08-09 01:01] Ozaq opened #464 "Race condition / spurious core dump VeleocityModel::ComputeNextTimeStep"
[code]

**Describe the bug**
Intermittent core dump when running juelich_tests test_10 in debug, much more frequent when running in release (almost 100%)

Backtrace
[code]

[2019-08-09 01:08] Ozaq commented on #464
I spend some time looking into the coredump. One of the `Pedestrian` objects in neighbors returned from `LCGrid::GetNeighbourhood(...)` is broken

You can see there that the code in frame 3 is operating on a 0x0 this pointer
[code]

This is because in frame 4
[code]
`ped1` is invalid and returns `_subRoomID = 32560`

[code]

[2019-08-09 09:06] gjaeger commented on #461
That's a good idea.

**JPSvis** already offers the possibility to load a trajectory file without geometry. The geometry can then be selected separately. We can extend the routine so that the geometry can be loaded manually if the path is incorrect.

[2019-08-09 09:14] gjaeger commented on #458
*JPSvis* offers the possibility to load the geometry file separately (see [commit 9b496d47](9b496d47dda1f884c316ec3951be7975b11c4192) and discussion in #461).

[2019-08-09 09:15] gjaeger commented on #458
@anna-braun Would you like to try this with _JPSvis_?

[2019-08-09 09:22] anna-braun commented on #456
Yes it can be closed.

[2019-08-09 09:22] #456 closed

[2019-08-09 09:37] gjaeger opened #465 "Documentation of the previous cmake modifications"
After the modifications of cmake (#421, #422, #435, #440, #446, #462 ), the documentation (e.g. [quick start](http://www.jupedsim.org/jpscore/2016-11-02-quickstart.html), [requirements](http://www.jupedsim.org/jpscore/2016-11-03-requirements.html)) would have to be revised and adapted (see also [comment](https://github.com/JuPedSim/jpscore/issues/456#issuecomment-519848814) in #456).

Who would be

[2019-08-09 09:41] anna-braun commented on #458
I tried it, but jpsvis collapses when I try to load both. Despite this, I think this is not very comfortable to load both. And before we changed the txt-files, it worked without a full path in the file, so this might need only a small change in the code @chraibi ?

[2019-08-09 10:31] gjaeger opened #466 "juelich tests, documentation"
We should revise and supplement the documentation of the juelich test cases in the source (see new issue).

The current description of the test cases can be found [here](http://www.jupedsim.org/jpscore/2016-11-02-juelich).

[2019-08-09 12:34] anna-braun opened #467 "Geometry correction"
I have a geometry (station) with several external transitions (for train doors). When starting the simulation the geometry should automatically be corrected -> walls are cut to set transitions. @chraibi: In the result I could see, that there was a correction, but the corrected Geometry was not written to the directory. Does this have something to do with #300?

[2019-08-09 13:08] anna-braun opened #468 "External files - missing "/" ?"
I wanted to use several external files in my ini-file. Therefore, I usually just have to write the filename:
![Bildschirmfoto 2019-08-09 um 14 43 51](https://user-images.githubusercontent.com/38530070/62779839-8d5be400-bab4-11e9-8a87-2a4322936cfc.png)

For the traffic file it works fine, the path is correct when just writing _..>06-traffic.xml<.._:
![Bildschirmfoto 2019-08-09 um 14 43 35](https://

[2019-08-09 20:45] anna-braun opened #469 "Distribution of agents"
For KapaKrit I have use geometry which has negative coordinates. I wanted to distribute agents in the "negative" area by using `x_min, x_max, y_min, y_max`, but it seems as it is not possible to use this function with negative values.

I also tried it with a simple example, but the result is the same:
`ERROR:	invalid bounds [0.00,-3.00,0.00,-5.00] of the group [1]. Max and Min values mismatched?`

[2019-08-10 07:40] schroedtert commented on #469
It seems that you mixed up x_min/max. It should be x_min=-5 and x_max=0. Same goes for y-coordinates. Can you test it? We should add a test for the inputs.

[2019-08-10 21:42] Ozaq commented on #468
@anna-braun Its definately a bug. I encountered it during the week. PR #460 should address this, although I didn't finish this yet since I ran into the random crash #464 and wanted to understand what happens there first.

[2019-08-12 07:35] anna-braun commented on #469
@schroedtert, I tested it. And for the small example it works now. For the KapaKrit station it still does not work:
`<group group_id="2020" agent_parameter_id="1" room_id="101" subroom_id="1" number="585" goal_id="-1" router_id="1"  x_min="17" x_max="20" y_min="-185" y_max="-10" pre_movement_mean="480"/>`

![Bildschirmfoto 2019-08-12 um 09 28 41](https://user-images.githubusercontent.com/38530070/

[2019-08-12 13:46] anna-braun commented on #301
I startet a simulation for KapaKrit last Friday (19980 agents). After the time limit of 6 hours, 26 seconds were simulated (from 3000).

[2019-08-13 04:17] chraibi commented on #459
I agree with this suggestion:

- Remove the option `logfile`
- Set a name for the logfile, probably something like `jpsvis`: log_YYMM_HM_inifileName.txt
- Dump the content of the logfile to stdout as well.

[2019-08-13 04:20] chraibi commented on #459
Someone working on this alread?

[2019-08-13 04:24] chraibi commented on #448
@Ozaq I always find it not optimal when user-specific paths are written in the inifile.
(not nice when sharing or reporting bugs)

What would you suggest in this case? Give an Error and an appropriate message forcing a certain use of paths?

Documentation:. That's all we've got so far http://www.jupedsim.org/jpscore/2016-11-01-inifile

[2019-08-13 04:33] chraibi commented on #458
This is easily done if we have a consense. I see the point of moving simulation results from one system to another will be problematic, if absolute paths are used.

Trajectory files are not always in the same directory as the geometry file.

So what about having everything relative to the inifile?

[2019-08-13 04:41] chraibi commented on #466
@JonasRzez have time for this?

[2019-08-13 05:08] chraibi commented on #464
@schroedtert didn't you run into neighborhood's issues one day? I thought this might be related.

[2019-08-13 05:22] chraibi commented on #469
@anna-braun  but this is another problem.
Now, it seems to me that in the mentioned area, you can not distribute 585 agents.
(the maximum allowed of 5856 is misleading and refers to the whole subroom)

Why don't you check with a smaller number of peds and report back?

[2019-08-13 05:24] chraibi commented on #467
No, I don't think this is related to #300
Probably to other recent PR's the corrected geometry is not written.

Would you please upload an example to reproduce this?

[2019-08-13 05:26] chraibi commented on #448
@JonasRzez you ok now?

[2019-08-13 05:28] gjaeger commented on #458
We should avoid such lines in the header:
`#geometry: /Users/User/Documents/raw/../docu/geo_UNI_CORR_500_05.xml`

[2019-08-13 05:32] gjaeger commented on #466
Note: @GuidoBasten is currently working on the RiMEA test cases (#443) regarding the documentation.

[2019-08-13 05:46] chraibi commented on #458
Definitely, because of the absolute bath.

So what I'm suggesting is this

[code]
considering this structure
<img width="323" alt="Screenshot 2019-08-13 at 13 44 36" src="https://user-images.githubusercontent.com/5772973/62917917-b50ebd00-bdd0-11e9-9a27-06ed3aa03a3b.png">

[2019-08-13 06:03] gjaeger opened #470 "make process failed"
**JuPedSim - JPScore**

- Commit hash    : bbe1037459
- Branch         : develop

With:
`cmake ..`  ([cmake_protocol.log](https://github.com/JuPedSim/jpscore/files/3495462/cmake_protocol.log))

[code]

The make process (`make`)  ([make_protocol.log](https://github.com/JuPedSim/jpscore/files/3495476/make_protocol.log)) ends with an error:
[code]

It compiles with
[code]

Before that, I deleted the

[2019-08-13 06:16] anna-braun commented on #469
@chraibi the area is 525 m^2, so 585 agents should not be a problem, but I will check it with a smaller number of agents.

[2019-08-13 06:25] anna-braun commented on #467
@chraibi
here is the file: [BS-geo.zip](https://github.com/JuPedSim/jpscore/files/3495551/BS-geo.zip)

[2019-08-13 06:40] gjaeger opened #471 "Intersection of obstacles with subroom"
**JuPedSim - JPScore**

Current date   : Aug 13 2019 08:14:37
Version        : 0.8.4
Commit hash    : v0.8.4-159-gbbe10374
Commit date    : Wed Aug 7 16:16:48 2019
Branch         : develop

**Describe the bug**
With [ini_UNI_CORR_500_05_om_3.xml.zip](https://github.com/JuPedSim/jpscore/files/3495565/ini_UNI_CORR_500_05_om_3.xml.zip) and [geo_UNI_CORR_500_05.xml.zip](https://github.com/JuPedSim/jps

[2019-08-13 06:54] #469 closed

[2019-08-13 06:55] chraibi commented on #471
I think that according to [this](http://www.jupedsim.org/jpscore/2016-11-02-geometry.html#obstacles)
<img width="738" alt="Screenshot 2019-08-13 at 14 53 27" src="https://user-images.githubusercontent.com/5772973/62921088-3cacf980-bdda-11e9-9886-972179068001.png">

Maybe you try to edit the obstacles and move them a bit?

[2019-08-13 07:26] chraibi commented on #467
@anna-braun with these files I did not have any problems.
<img width="736" alt="Screenshot 2019-08-13 at 15 25 41" src="https://user-images.githubusercontent.com/5772973/62922707-a4654380-bdde-11e9-84c6-767c73bea548.png">
Maybe wrong file?

[2019-08-13 07:30] gjaeger commented on #471
"_should_" doesn't mean "_forbidden_". That's why I tried it. ;-)

If I remove the obstacles, agents still get stuck in the corners.

![tmp_0000169](https://user-images.githubusercontent.com/7759675/62922119-e96f8280-bdaa-11e9-9ac3-5e77c3a61da8.png)

if I move the obstacles or the walls of the room a little bit ([geo_UNI_CORR_500_05.xml.zip](https://github.com/JuPedSim/jpscore/files/3495751/geo_UN

[2019-08-13 07:34] anna-braun commented on #467
@chraibi I tried it right before I uploaded it here. The simulation works, thats not the problem, but the corrected file is not written.

Did you make any changes in the ini-file?

[2019-08-13 07:39] anna-braun commented on #458
This is a good structure. And if you change it manually in the trajectory file it works already.

[2019-08-13 07:49] chraibi commented on #467
Ok, simulation runs fine, but geometry still needs correction. I see the problem.
Checking..

[2019-08-13 08:15] #467 closed

[2019-08-13 08:20] chraibi commented on #467
Sorry I pushed this unintentionally in the main repo.

[2019-08-13 08:28] schroedtert commented on #464
Yes I did, if I remember correctly it was in a larger simulation, which broke at some point with a SegFault during some neighbourhood calls. But I can’t remember what we tried to solve it.
@Ozaq Did you use multiple threads? I guess there is something wrong with `Simulation::UpdateRoutesAndLocations()`, here some peds get deleted if they do not have a valid route. With multiple threads it may not

[2019-08-13 08:39] chraibi commented on #471
You are using router [global_shortest](http://www.jupedsim.org/jpscore/2016-11-03-routing.html#global-shortest-path). This router needs convex subrooms/rooms. There is no need for adding helplines.

If you use `ff_global_shortest` with ` <exit_crossing_strategy>8</exit_crossing_strategy>`, then you should be able to evacuate them all.

[2019-08-13 08:42] chraibi commented on #464
What happens, if we don't delete pedestrians anymore?

[2019-08-13 08:44] schroedtert commented on #464
I thought the deletion is done to remove stuck agents, e.g. when they end up in obstacles or went through walls?

[2019-08-13 09:26] gjaeger commented on #471
Interesting. When I use `ff_global_shortest` with `<exit_crossing_strategy>8</exit_crossing_strategy>`, I get the following message:
[code]

I'm getting 300 errors, like:
`ERROR: 	Could not find a route for pedestrian 229 in room 0 and subroom 0`

strange

[2019-08-13 09:28] schroedtert commented on #471
This is due to the FF Router, nothing to worry about. When a ped leaves the building this message is generated, I’m working on removing this (see #374).

[2019-08-13 09:31] chraibi commented on #464
That's right. I was just thinking to deactivate them all so that we can pin-point the bug.

[2019-08-13 09:34] chraibi commented on #471
@gjaeger close?

[2019-08-13 09:37] gjaeger commented on #471
That would have been my suggestion now.

[2019-08-13 09:37] #471 closed

[2019-08-13 10:06] JonasRzez commented on #466
@chraibi I am a bit short on time now and on vacation for the next two weeks

[2019-08-13 10:17] JonasRzez commented on #448
@chraibi  Yeah everything works fine now .

[2019-08-13 11:19] schroedtert commented on #412
@anna-braun Have you tested it since #441 is merged? The new event is called `reset`. And can be used in events and shedules

[2019-08-13 18:59] gjaeger commented on #470
After I updated boost (1.66->1.70), the error still occurs.

[2019-08-13 20:39] Ozaq commented on #470
@gjaeger Ah I am only linking filesystem for apple clang, I can fix that =) . I will open up a PR asap. Would be nice if you could verify this

[2019-08-13 21:43] Ozaq commented on #459
I think I can create a PR on the weekend unless someone else want to have a shot.

[2019-08-13 21:53] Ozaq commented on #464
@schroedtert Yeah I am running with `USE_OPENMP=ON` and there are 4 threads active (but i only added the stack traces of the thread running into the segfault.
@chraibi I also suspect Ped deletion to be the reason but I could not find any obvious issue, also the broken ped pointer points into an "interesting" location, i.e. just deleting the Ped would leave the address intact but the data behind co

[2019-08-13 22:02] Ozaq commented on #448
I am a big believer in "less is more" in cases as this, i.e. id rather be less flexible but easier to make robust. Reporting an error for absolute paths of output files sounds good to me, maybe even refuse any paths that are "escaping" the current working dir (i.e. "../"). Or being even more restrictive (simple to implement) and don't allow setting of any paths in the ini and allow `--output-path`

[2019-08-14 03:08] chraibi opened #474 "Project files organisation"
**Is your feature request related to a problem? Please describe.**

`jpscore` needs many input files to start a simulation (at least two)

- [inifile](http://www.jupedsim.org/jpscore/2016-11-01-inifile) (required)
- [geomery](http://www.jupedsim.org/jpscore/2016-11-02-geometry) (required)
- [events](http://www.jupedsim.org/jpscore/2019-07-03-events) (optional)
- [scedule](http://www.jupedsim.org/j

[2019-08-14 03:14] chraibi commented on #448
thanks @JonasRzez  for your feedback.

[2019-08-14 03:14] #448 closed

[2019-08-14 06:23] gjaeger commented on #474
The list of the output files is to be extended by
- `vtk files` (if `<write_VTK_files>true</write_VTK_files>`)

[2019-08-14 06:29] gjaeger commented on #474
I'm not a friend of a fixed structure. I'd like to continue to have the freedom to specify the folders of each output file in the ini-file.

I suggest we offer a fixed structure by default. We still retain the possibility of individual settings.

[2019-08-14 06:33] schroedtert commented on #474
I’m in favour of a fixed structure, it allows us get more robust code. This is from my point of view the most important thing. I wouldn’t go for a default structure which can be changed by the user, it will cost us so much time we could better spent on more important things.

[2019-08-14 06:36] gjaeger commented on #474
@schroedtert This causes me great problems with my existing structure. It's a big effort.

[2019-08-14 06:42] schroedtert commented on #474
@gjaeger As you could see from previous issues, we already had some things, especially ‘..’ and ‘.’ uses which basically destroyed a lot, at the moment it seems that we have to handle individually for each OS and maybe each compiler... With the fixed structure you could write a script which moves the files in the structure you need.

[2019-08-14 06:43] #470 closed

[2019-08-14 07:08] gjaeger commented on #474
@schroedtert A script would be a workaround for existing studies. I hadn't thought of that before.

[2019-08-14 08:16] gjaeger opened #475 "Loading and parsing the project file Segmentation fault: 11"
**JuPedSim - JPScore**

Current date   : Aug 14 2019 09:10:01
Version        : 0.8.4
Commit hash    : v0.8.4-164-g082762a9
Commit date    : Wed Aug 14 08:43:29 2019
Branch         : develop

After compiling with gcc (see #470 and #473), I can no longer run the program.

For demo `scenario_1_corridor`:

`$ jpscore corridor_ini.xml `

I get without log-file:
`INFO: 	Loading and parsing the project f

[2019-08-14 08:43] gjaeger opened #476 "vtk file function"
**JuPedSim - JPScore**

Current date   : Aug 14 2019 10:20:22
Version        : 0.8.4
Compiler       : clang++ (10.0.0)
Commit hash    : v0.8.4-164-g082762a9
Commit date    : Wed Aug 14 08:43:29 2019
Branch         : develop

my example: [ini_UNI_CORR_500_05_om_3.xml.zip](https://github.com/JuPedSim/jpscore/files/3500479/ini_UNI_CORR_500_05_om_3.xml.zip) and [geo_UNI_CORR_500_05_jpscore.xml.zip](ht

[2019-08-14 09:16] chraibi commented on #475
Interesting!

When compiled with AppleClang

[code]

everything runs well!

[2019-08-14 09:22] gjaeger commented on #475
I can confirm that.

[2019-08-14 09:31] schroedtert commented on #475
https://github.com/JuPedSim/jpscore/blob/082762a9d03b957c86e2202ddb9c2cfdaf7d0620/IO/IniFileParser.cpp#L82-L92

The `q.parent_path()` is empty when using boost. The trying to call `fs::absolute` on an empty paths causes the SegFault.

[2019-08-14 13:10] schroedtert commented on #475
The error is maybe caused, when boost is not compiled with the same flags as JPScore. If I remember correctly @Ozaq mentioned something similar in an other issue/PR.

https://stackoverflow.com/a/19470480

[2019-08-15 07:00] schroedtert commented on #429
I’m currently working on it. But I ran into the following problem:
When using Mac + g++ it get the following error:
[code]
Full info at https://travis-ci.com/schroedtert/jpscore/jobs/225431971

With the following .travis.yml (just an extract):
[code]

Remark: Seems that we can not use more modern Xcode, as a dependency in poly2tri forces Xcode < 10.5.

[2019-08-15 11:43] schroedtert opened #477 "Can not compile with Boost unit test on Mac"
While trying to include OSX build to our Travis CI I ran into the following issues:

[code]

The complete Cmake and make output can be found here:
[cmake_out.log](https://github.com/JuPedSim/jpscore/files/3505378/cmake_out.log)
[make_out.log](https://github.com/JuPedSim/jpscore/files/3505379/make_out.log)

- compiler: g++ 8.3
- Boost 1.70 build from sources with boost (will try to build Boost dire

[2019-08-18 16:13] Ozaq commented on #474
@chraibi what is supposed to happen if you run the same simulation multiple times? With your proposal new results overwrite old results? Wouldn't it make sense to at least put them into a subfolder with a timestamp, e.g. `2019-08-18T181201`? That way the application can be run and by default will not overwrite older results.

[2019-08-18 16:26] Ozaq commented on #475
To understand what happened it is very helpful to have a stack trace of the call that triggered the crash. Could you enable coredumps on your machine (https://stackoverflow.com/questions/9412156/how-to-generate-core-dumps-in-mac-os-x) and add the stack traces to this issue?

Once you have coredumps enabled you can open the dump with `lldb -c <corefle>` when attached you call bt (for backtrace) and

[2019-08-18 16:57] gjaeger commented on #476
[code]
The element  `<write_VTK_files>false</write_VTK_files>` works as desired.

Unfortunately the input `true` does not generate any output (`goal.vtk`).

[2019-08-20 12:49] schroedtert commented on #475
Sorry for the late reply. Here are the results of the core dump:
[code]

[2019-08-22 09:29] schroedtert opened #482 "Global toolset for random numbers"
**Is your feature request related to a problem? Please describe.**
At the moment we have multiple classes which need a random number. Since we don’t have a global interface to a random number engine, each class creates its own random number engine or in some parts still relies on `rand`.

**Describe the solution you'd like**
A global toolset for creating random numbers, best with interface to diff

[2019-08-22 09:31] schroedtert commented on #482
See also #223

[2019-08-26 07:47] gjaeger commented on #418
I suggest that we add the following properties:
- velocity (vector quantity `v_x`, `v_y`, `v_z`)
- movement speed (scalar quantity `v`)

[2019-08-26 08:07] gjaeger commented on #418
looks good (based on PR #483):
[code]

[2019-08-29 18:57] Ozaq commented on #468
@anna-braun This should now be fixed on develop with the recent merge of #460

[2019-09-03 12:59] zeroset opened #484 "Rename configuration model parameter write_VTK_files to write_VTK_files_direction"
**JuPedSim - JPScore**

**Describe the bug**
The operational Model Tordeux2015 has a configuration parameter called `write_VTK_files`
[code]
Unfortunately this parameter name is already used in FFRouters and is renamed internally to `write_VTK_files_direction`. To avoid ambiguity the configuration parameter should be renamed to `write_VTK_files_direction`.

**Additional context**
See also #478 & #

[2019-09-03 13:04] #476 closed

[2019-09-03 13:27] mirakuepper opened #576 "Profile Output is extremly slow"
**JuPedSim - JPSreport**

- Current date   :
- Version        : 0.8.4
- Compiler       : g++ (8.3.0)
- Commit hash    : v0.8.3-76-gedbf874
- Commit date    :
- Branch         :
- Python         : /usr/local/bin/python3.7 (3.7.2)

In order to get Profile data out of Jpsreport, I use the option   `<profiles enabled="true" grid_size_x="0.20" grid_size_y="0.20"/>`. Doing this causes jpsreport to extre

[2019-09-03 14:00] mirakuepper opened #575 "Calculation of specific flow in _Plot_profiles.py"
In the script _Plot_profiles.py the flow is calculated based on the field data for density and speed from jpsreport (`Output_profiles = true` option).

Considering that the specific flow is calculates as
J = rho * v
I am wondering about the correctness of the calculation. The script sums up all values for the densities at a certain point of the geometry and devides this by the number of frames. Th

[2019-09-06 01:21] chraibi opened #574 "Clean up cmake file"
`jpscore`'s build process got some lifting and [cleanup](https://github.com/JuPedSim/jpscore/pull/440).

`jpsreport` needs the same treatment as well.

[2019-09-06 03:14] chraibi commented on #477
this is now obsolete, or going to be I guess. See this #485.

[2019-09-06 03:14] #477 closed

[2019-09-06 03:26] chraibi commented on #474
@Ozaq yes, you are right. Maybe also add the name of the inifile to the directory.
Makes it easy to organize different projects (e.g. different inifiles) and many simulations (e.g. different seeds).

Here an update:
![Screenshot 2019-09-06 11 24 51](https://user-images.githubusercontent.com/5772973/64398917-291f4680-d099-11e9-9a1e-5b162f95f49c.png)

[2019-09-06 03:37] chraibi commented on #468
@anna-braun  reopen if necessary.

[2019-09-06 03:37] #468 closed

[2019-09-06 03:41] chraibi commented on #484
@zeroset  can you document this option please?
Here is the [right place](https://github.com/JuPedSim/jpscore/blob/gh-pages/_posts/2016-11-01-operativ.md).

[2019-09-06 12:20] zeroset commented on #474
I wold prefer having an output path as a command line argument. In this path i would create a directory with a date/time and put all files there. For consistency reasons i would additionally prefer to copy the complete geometry into the output files. Either into the trajectories itself or if the other files need the geometry as well as file into the output path. The problem with using the input ge

[2019-09-10 06:57] zeroset commented on #428
Hi @chraibi, i would prefer having clang-format as a pre-commit hook in git once we have clang format applied to the whole repository. This avoids unnecessary CI runs when format is wrong.

[2019-09-11 04:13] chraibi commented on #428
Makes sense.

[2019-09-13 13:49] zeroset commented on #57
@chraibi Is this still a desired feature? Shouldn't it be part of an existing router? Should this be a new router?

[2019-09-13 14:00] zeroset commented on #178
@chraibi Does this issue still exist?

[2019-09-14 04:33] chraibi commented on #178
Yes, I suppose so.

[2019-09-14 04:34] chraibi commented on #57
@schroedtert implemented this somehow. Maybe he can update us all.

[2019-09-15 12:50] zeroset opened #488 "Exchange calls to old Logging with new SPD Logger"
After the merge of #479 we need to exchange all calls to the old logger to the new one. Therefore the calls like:
[code]
Need to be changed to:
[code]
Additionally the old logging includes need to be removed and the new ones added.
As an example you can look in to the files changed in #479 `main.cpp`.

For formatting libfmt should be used. Find the documentation about libfmt [here](https://fmt.dev

[2019-09-15 13:56] zeroset commented on #378
@schroedtert what is about this issue? Are you still working on it?

[2019-09-15 20:24] Ozaq commented on #475
@schroedtert didn't we fix this?

[2019-09-17 14:04] #248 closed

[2019-09-17 14:06] zeroset commented on #272
@chraibi can we close this?

[2019-09-17 14:35] #429 closed

[2019-09-17 14:43] #249 closed

[2019-09-17 14:44] zeroset commented on #233
@chraibi the file does not exist anymore. Do you have those geometries around somewhere? Otherwise, can we close this?

[2019-09-18 09:20] zeroset opened #490 "Refactoring parts of the Geometry"
The Geometry part needs to be reworked.

- [x] Create a appropiate clang-tidy config
- [ ] Fix selected checks with clang-tidy
- [ ] Fix Ownership of data
- [ ] Remove Pointers and shared_ptr when possible

To be extended ;)

See [refactoring_geometry](https://github.com/zeroset/jpscore/tree/refactoring_geometry)

[2019-09-19 01:26] #233 closed

[2019-09-19 01:32] chraibi commented on #272
We can reopen this when we have resources and need to work on it.

[2019-09-19 01:32] #272 closed

[2019-09-19 01:39] chraibi commented on #378
@zeroset is this issue really WIP?
 @schroedtert

[2019-09-19 01:40] chraibi commented on #475
@schroedtert do we still have this problem?

[2019-09-19 06:32] gjaeger commented on #475
The described problem with `gcc` persists. I am currently compiling with `AppleClang` only.

[2019-09-19 07:04] schroedtert commented on #378
It is still work in progress/almost finished. I need to test it some more.

[2019-09-19 09:31] zeroset opened #491 "Integration Testing"
For more reliable development we need to put Testcases and Demos together for continuous Testing for PRs and nightly testing. This should be done with juelich tests, rimea tests and existing demos. In the future we should extend those test with checks on statistics of the results.
For convenience we should group the tests by execution time so that we are able to run small, medium and large testsui

[2019-09-20 16:01] schroedtert commented on #491
I tested the demos for the #472, following demos are not working at the moment:
- scenario_5_ship: there seems to be an error with the geometry, which may be related to our geometry correction function.
- scenario_5_events: either the events are not working properly or our routing also considers closed doors. We may have to check whether beds leave room only through open doors.
- scenario_12_waiti

[2019-09-25 13:36] zeroset opened #497 "Python integration test script"
For the integration tests we need a "central" python script for the execution of the test cases. This script should sort the integration tests by approximate runtime in three different groups: slow, medium and fast.
It should accept command-line parameters for setting the JPScore binary and setting the desired group (slow, medium, fast, all). This script should also manage where log files from the

[2019-09-25 14:59] zeroset opened #498 "Print Backtrace on error"
For better Debugging I want to have a backtrace after a segmentation fault or other error. Unfortunately it is not very easy to have this in a portable way. That is why we start with implementing this for specific platforms and compilers only. Please try to find a library which works on several platforms.

ACs:
- Backtrace for Linux gcc
- Backtrace for Linux clang
- Backtrace for MacOS clang

[2019-09-26 06:39] schroedtert commented on #498
Haven’t look in detail in it, but boost offers a stack trace library which seems to be header only and maybe also platform and compiler independent. http://boostorg.github.io/stacktrace/index.html

[2019-09-26 08:47] zeroset opened #500 "Reformat the repository"
With the new clang-format config we need to reformat the whole repository.

[2019-09-26 09:00] schroedtert opened #501 "Refactor output handling"
Refactoring the output handling of JPScore. Cleanup not needed parts and refactor to reduce the use of pointers and thus memory leaks or unsafe calls.

[2019-09-26 11:14] #53 closed

[2019-09-26 11:15] #57 closed

[2019-09-26 11:20] #94 closed

[2019-09-26 11:21] #104 closed

[2019-09-26 11:22] #106 closed

[2019-09-26 11:22] #107 closed

[2019-09-26 11:23] #121 closed

[2019-09-26 11:24] #123 closed

[2019-09-26 11:26] #127 closed

[2019-09-26 11:27] #128 closed

[2019-09-26 11:27] #132 closed

[2019-09-26 11:31] chraibi commented on #148
This is solved. See [here](https://github.com/JuPedSim/homebrew-jps/blob/master/README.md)

[2019-09-26 11:31] #148 closed

[2019-09-26 11:33] #149 closed

[2019-09-26 11:34] #151 closed

[2019-09-26 11:36] #152 closed

[2019-09-26 11:38] chraibi commented on #156
This is implemented in Rimea tests.

[2019-09-26 11:38] #156 closed

[2019-09-26 11:43] #164 closed

[2019-09-26 11:43] #170 closed

[2019-09-26 11:46] zeroset opened #502 "Remove ORCA Model"
ORCA Model was never implemented completely, but there some peaces left from the implementation. Search for orca in the codebase and remove everything related to the model.

- [ ] search for orca and remove

[2019-09-26 11:49] zeroset commented on #178
@chraibi can you please evaluate if the bug still exists.

[2019-09-26 11:52] #183 closed

[2019-09-26 11:52] #184 closed

[2019-09-26 11:53] #186 closed

[2019-09-26 11:53] #187 closed

[2019-09-26 11:54] #196 closed

[2019-09-26 11:54] chraibi commented on #196
No, we now use spdlog.

[2019-09-26 11:58] #198 closed

[2019-09-26 12:40] schroedtert commented on #197
Goals are not 3d proof at the moment. They should not be placed inside a building, one can use `WaitingArea` instead. Since Routers are only considering the nearest door to a goal, this might cause unwanted route choices.

[2019-09-27 12:36] zeroset opened #505 "Remove commented code"
As realized in #504 and #500 we have big chunks of commented code which is of no use anymore. In case of doubt we should use git to revert to old implementations. reformatting would mess up those comment blocks.

AC:
- remove all code blocks commented out.

[2019-09-27 13:03] #203 closed

[2019-09-27 13:04] #226 closed

[2019-09-27 13:04] #227 closed

[2019-09-27 13:04] #232 closed

[2019-09-27 13:05] chraibi commented on #229
First, make a decision if we want to keep all the models or stick to only one.

[2019-09-27 13:05] #229 closed

[2019-09-27 13:07] #228 closed

[2019-09-27 13:07] #231 closed

[2019-09-27 13:09] #239 closed

[2019-09-27 13:09] #240 closed

[2019-09-27 13:13] chraibi commented on #247
List of [routers](http://www.jupedsim.org/jpscore/2016-11-03-routing)

[2019-09-27 13:26] chraibi commented on #251
Related to #483

[2019-09-27 13:26] #251 closed

[2019-09-27 13:26] #258 closed

[2019-09-27 13:27] chraibi commented on #254
Use [sources](http://www.jupedsim.org/jpscore/2016-11-01-inifile#sources).

[2019-09-27 13:27] #254 closed

[2019-09-27 13:28] #260 closed

[2019-09-27 13:30] chraibi commented on #264
related to #375

[2019-09-27 13:30] #264 closed

[2019-09-27 13:30] #269 closed

[2019-09-27 13:31] chraibi commented on #279
We don't use gitlab anymore, therefore, close.

[2019-09-27 13:31] #279 closed

[2019-09-27 13:32] chraibi commented on #282
Must be solved by now. I went through this function once.

[2019-09-27 13:32] #282 closed

[2019-09-27 13:34] #268 closed

[2019-09-27 13:36] #287 closed

[2019-09-27 13:36] #288 closed

[2019-09-27 13:37] #308 closed

[2019-09-27 13:39] chraibi commented on #311
@anna-braun do you still encounter a problem? If yes, reopen, please.

[2019-09-27 13:39] #311 closed

[2019-09-27 13:40] chraibi commented on #312
How would you make a difference between escalators and elevators?
@anna-braun

[2019-09-27 13:41] chraibi commented on #306
Related to #483

[2019-09-27 13:41] #306 closed

[2019-09-27 13:41] chraibi commented on #313
@schroedtert please small update here. Thanks!

[2019-09-27 13:42] #346 closed

[2019-09-27 13:43] chraibi commented on #357
Related to #466

[2019-09-27 13:43] #357 closed

[2019-09-27 13:44] #358 closed

[2019-09-27 13:45] chraibi commented on #359
@planospeedo are you working on this? If not then we should mark this issue as canceled.

[2019-09-27 13:45] #360 closed

[2019-09-27 14:05] chraibi opened #506 "Building from source"
- Update instructions in the readme-file

Here it could be mentioned, that there is a script `setup-deps.sh` that can be run before to help with the installation.

- Sync with online documentation

﻿﻿﻿ http://www.jupedsim.org/jpscore/2016-11-02-quickstart.html

Basically, this wiki page should contain the same information as in the readme file or it can be removed.

[2019-09-27 14:41] schroedtert commented on #313
Have not started on this one. Should the global router also be able to deal with this?
Remark: Changed the title, since ff_global_shortest_trips will be removed.

[2019-10-01 08:28] anna-braun commented on #313
I guess it's good if all routers can deal with it, but ff its most important.

[2019-10-01 08:34] anna-braun commented on #312
Escalators are like stairs and can always be used. Elevators can only be used by a small number of people at the same time (number must be defined individually). And there is a time gap between entering and leaving the escalator (e.g. 10 seconds).

[2019-10-10 06:27] #500 closed

[2019-10-10 06:28] #490 closed

[2019-10-10 08:53] schroedtert commented on #506
Should we use the website or move the documentation entirely to the GitHub wiki pages? Only using the wiki may be easier for users, as they could find all the information here in the repo.

[2019-10-11 09:37] #418 closed

[2019-10-14 10:53] #365 closed

[2019-10-15 13:50] #501 closed

[2019-10-29 11:02] zeroset commented on #310
We use SPDLog.

[2019-10-29 11:02] #310 closed

[2019-10-29 12:52] anna-braun commented on #412
@schroedtert
Did we talk about it? For the newest version I get a segmentation fault by trying to reset the max_agents.
[20191029.zip](https://github.com/JuPedSim/jpscore/files/3783575/20191029.zip)

[2019-10-29 22:36] Ozaq opened #524 "Crash with empty routing element in ini.xml"
@schroedtert
Did we talk about it? For the newest version I get a segmentation fault by trying to reset the max_agents.
[20191029.zip](https://github.com/JuPedSim/jpscore/files/3783575/20191029.zip)

_Originally posted by @anna-braun in https://github.com/JuPedSim/jpscore/issues/412#issuecomment-547404127_

Underlying issue here is that the empty routing element is not handled.

[2019-10-30 10:33] #524 closed

[2019-10-30 14:18] schroedtert commented on #412
@anna-braun When you set the doors at `t=0` to `state=temp_close` instead of `state=close` it works. With close you mark doors at not passable anymore during the simulation. We have to discuss and check whether all router work with all events correctly.

[2019-10-31 10:39] anna-braun commented on #412
@schroedtert I tried temp_close as well, with the same result. But with the fix of @Ozaq it works now (using temp_close). But the agents do still not behave like I expect it. When a door is closed by max_agents, the agents should look for an other door, or not? And if there is none, they should wait. But we can talk about this, next week.
[traj-max_agents.txt](https://github.com/JuPedSim/jpscore/f

[2019-10-31 11:43] schroedtert commented on #412
@anna-braun we should definitely talk about this. I think some things regarding the doors and close vs temp_close should be clarified.

[2019-11-03 11:00] Ozaq commented on #428
@zeroset I think this is done, right?

[2019-11-03 20:58] zeroset commented on #428
thanks :)

[2019-11-03 20:58] #428 closed

[2019-11-04 10:06] gjaeger opened #573 "scripts | revision"
Due to the changes in the last months we should revise the scripts (python) and update the documentation.

- [ ] documentation script-files
- [ ] script files (e. g. _plot_profiles.py, see issue JuPedSim/jpsreport#154)

[2019-11-04 10:45] gjaeger commented on #506
The GitHub wiki pages are sorted alphabetically. To structure the Wiki individually you can create one sidebar. A detailed structure is currently not possible. By default, we could place a table of contents after the heading on the page. Let's try it out.

Sources: https://guides.github.com/features/wikis/

[2019-11-04 21:31] Ozaq commented on #506
I don't mind either but I have to admit that the gh-pages for jpscore look very well done. I am not sure if they can be done as pretty with the gh-wiki.
I also like the point @schroedtert raises that it would be nice to keep the doc next to the sources. I just recently saw that Github now allows to have gh-pages content in the master branch in a sub folder called docs. See their doc for that: http

[2019-11-06 13:28] schroedtert commented on #426
@xuqiancheng  could you please check this issue?

First, start by debugging the desired direction
- if N=1
- if N=20
Both cases for model 3 and model 4.

Thank you!

[2019-11-06 16:19] xuqiancheng commented on #426
[Test_result.zip](https://github.com/JuPedSim/jpscore/files/3815525/Test_result.zip)
The result of N=[1,20] and model=[3,4].

[2019-11-07 09:03] anna-braun opened #533 "Door status"
As discussed yesterday, here is the issue about the door statuses and its functions.

The following three door statuses exist:
* _open_
* _close_
* _temp_close_

They can all be set and changed by an event. Additionally _temp_close_ is used for the door-flow regulation and for max_agents, which causes some problems.

So here is a solution approach.
* Events have priority before the door-flow regul

[2019-11-07 09:11] anna-braun commented on #412
The reset function works, But the door status of max_agents should be changed, see issue #533

[2019-11-07 11:53] zeroset commented on #506
I fully agree with @Ozaq, maybe we should think about moveing everything into the master branch and have a doc folder. I want to avoid the work necessary to migrate everything to the wiki. At the end gh-pages is propably much more powerful as well.

[2019-11-08 11:25] anna-braun commented on #412
@schroedtert
There is one little thing, which should be changed again.
When the counter of max_agents is reseted, the cumulative counter in the door statistics is also set to zero. This should not be done, the statistics counter should go on.
[flow_exit_id_0_traj-max_agents.txt](https://github.com/JuPedSim/jpscore/files/3824313/flow_exit_id_0_traj-max_agents.txt)

[2019-11-08 12:00] anna-braun opened #539 "Max_agents in schedules"
In schedules we can group doors with the same properties. So it should also be possible to define max_agents for all doors of one group and to reset the counter of max_agents in the time schedule.
The picture shows an example, how it could look like (group id="1"). An idea to reset max_agents is to have a default value of reset="false" in the times, which can be set to "true" if needed. For "true"

[2019-11-08 13:14] anna-braun opened #540 "Missing goal file in trajectory"
I did a simulation with external files, which worked fine, but the goal file was not correctly written to the trajectory file. It only says "file", it should be "goals.xml".
#goals: /Users/anna/Desktop/**/jpscore/53-06-sources/20191108/**file**

And when I typed the name manually, the goals were still not shown when using jpsvis.

My version is from 31.10.2019

[Archiv.zip](https://github.com/JuPe

[2019-11-09 11:54] schroedtert commented on #412
@anna-braun could you please check if #543 works for you?

[2019-11-09 15:03] schroedtert commented on #372
@anna-braun can this be closed?

[2019-11-09 17:32] #412 closed

[2019-11-10 17:47] schroedtert commented on #376
Added middle and random waiting behavior in bafd945. Further may follow soon.

[2019-11-10 17:47] #376 closed

[2019-11-12 09:17] anna-braun commented on #372
Yes, it can be closed. There is already an other issue #539.

[2019-11-12 09:17] #372 closed

[2019-11-12 10:27] anna-braun commented on #412
@schroedtert It works, thank you!

[2019-11-12 21:15] zeroset opened #550 "Juelich Tests range in master xml file"
In the juelich test ini masterfiles the following expression exists:
```         <exit_crossing_strategy>range(1,5)</exit_crossing_strategy>```
Either it is wrong and should be `[1,2,3,4,5]` or it should be substituted correctly in the python script.

[2019-11-13 08:26] chraibi commented on #550
why is it wrong? Could it be because we don't have models from 1 to 5?

[2019-11-13 08:33] zeroset commented on #550
No, that's not the problem. I think the syntax is wrong and not used by the makeinifile.py script. It is simply not replaced.

[2019-11-13 08:45] GuidoBasten commented on #550
I think the makeinifile.py can't work with this Syntax. But it shoud be [1,2,3,4] if we chnage it.

[2019-11-13 09:00] chraibi commented on #550
This used to work with this syntax. :-(

[2019-11-13 10:48] zeroset commented on #550
I don't think it ever worked with this syntax. It just created, jupedsim interpreted this as 0 and took the default direction strategy.

[2019-11-13 11:10] chraibi commented on #550
The problem is that in Python3 `range()` is not `list`. Therefore, there is a small fix for this..

![bern](https://user-images.githubusercontent.com/5772973/68758613-6d394500-060e-11ea-8ac6-6cd4b6994fce.gif)

[2019-11-13 11:10] #550 closed

[2019-11-14 03:01] chraibi commented on #540
I'll look at the jpsvis problem in another PR.

[2019-11-14 13:41] #540 closed

[2019-11-14 14:20] zeroset opened #553 "clean_geometry test 2 hanging in Building::correct on MacOS"
Sometimes the geometry test case 2 is hanging on MacOS when correcting the geometry.
The following Loop is never left again:
[code]

It looks like one wall has a point with x coordinate almost +INF because it used to be something around `1.0 e154`

[2019-11-14 14:22] zeroset commented on #553
@chraibi @schroedtert can you try to reproduce by starting jpscore with `systemtest/test_geometry/clean_geometry/inifile2.xml`

[2019-11-14 14:41] schroedtert commented on #553
approx 1/5 cases it get stuck here

[2019-11-14 15:34] Ozaq commented on #553
Not related to MacOS :)

I could reproduce it under ASAN:
[code]

[2019-11-14 15:38] Ozaq commented on #553
Just to be explicit: This does match the observation by @zeroset , due to the use-after-free the loop acts on memory that has been overwritten.

[2019-11-14 15:57] Ozaq commented on #553
Analysis:
[code]
So what I think is happening here is that: While iterating over the vector it is also appended. This is a problem because at some point the vector will reach max capacity and will be resized. This will invalidate the iterators used by the for loop. And then the loop variable actually points to freed memory.

[2019-11-15 08:57] schroedtert opened #556 "Show statistic not working correctly with FF Router and exit strategy 8"
**JuPedSim - JPScore**

[2019-11-15 09:49:16.053] [info] Commit id v0.8.4-255-ge3449baf-dirty
[2019-11-15 09:49:16.053] [info] Commit date Thu Nov 14 14:50:17 2019
[2019-11-15 09:49:16.053] [info] Build from branch develop
[2019-11-15 09:49:16.053] [info] Build with clang++(11.0.0)

**File**
Tested with demos/scenario_2_bottleneck, FF_Router, show_statistics=true and 1 ped.
Same problem with 30 pe

[2019-11-18 08:18] schroedtert commented on #533
One question:

What should happen if OPEN is used as event? Nothing?

[2019-11-18 08:28] zeroset commented on #553
I am currently working on the fix, will open PR today/latest tomorrow.

[2019-11-18 08:57] anna-braun commented on #533
Correct.

[2019-11-18 15:17] schroedtert commented on #533
@anna-braun If all doors in a room are closed, what should the pedestrians do?
- standing at their current position
- waiting
- move to last goal and maybe stand in front of a closed door
- anything else?

[2019-11-18 15:56] zeroset opened #560 "Handling Logged Errors"
Currently we do not have a unified error handling at all. It would be nice to stop the program after an Error was logged. We could think about adding `std::abort` to the `Logging::Error` function. This would at least go sure that the application is stopped on error. Non-critical errors must be changed to warning. @chraibi @schroedtert @Ozaq Any opinion? It is not meant as error handling, more safe

[2019-11-18 16:02] schroedtert commented on #560
I like the idea. But first we have to check if we are consistent with out `Logging::Error` calls. I think we have some “Errors” reported, which are more warnings than real errors.

For example, reports an error when no file is given, even if no events are desired:

[code]

[2019-11-18 16:04] Ozaq commented on #560
@zeroset Oh well... this pretty much depends on the underlying reason the call to Logging::Error was done.

I see at least two reasons:
1.) There was a programming error, e.g. an unexpected enum value, a dynamic cast going wrong. This is a big fat bug and should call `Logging::Error` and `std::abort` directly

2.) There was unexpected input, e.g. an unknown model name, broken geometry etc... anyth

[2019-11-19 07:12] anna-braun commented on #533
@schroedtert
I would say, if all doors are closed, the agents should wait in the room next to their final gaol. E.g. for stations, if there are no train doors, they should go to the platform and wait there, if possible.

[2019-11-19 10:21] schroedtert commented on #197
@chraibi can this be closed?

[2019-11-19 12:21] chraibi commented on #197
Yes.

[2019-11-19 12:21] #197 closed

[2019-11-19 13:05] schroedtert opened #562 "FF Router FindExit depends on exit strategy"
**Describe the bug**
The FFRouter returns different values depending on the exit strategy. With 8 it returns the next transition ignoring crossings in between. Leading to errors in the door statistics, as the ped is always too far and thus gets counted multiple times.
Interface of Router seems not be strict enough, needs refactoring.

**Expected behavior**
Choice of next goal should be independent

[2019-11-19 13:05] schroedtert commented on #556
Okay, issue was mainly due to a wrong choice of the exit strategy (my fault). But this solves the problem only with exit strategy 9. With 8 the issue remains, due to a different interpretation of the return value of the `FFRouter::FindExit(Pedestrian * ped)`.
Will be handled in a #562.

[2019-11-19 13:05] #556 closed

[2019-11-20 08:12] schroedtert commented on #533
Closed with #561.

[2019-11-20 08:12] #533 closed

[2019-11-22 10:49] anna-braun opened #564 "traffic_constraints ignored"
When testing the schedule function I wanted to "temp_close" all doors with by traffic_constraints. But this does not work, the traffic_constraints were ignored. Using an event file to "temp_close" the doors works. But it's a bug anyway.

 [Archiv.zip](https://github.com/JuPedSim/jpscore/files/3879130/Archiv.zip)

[2019-11-22 14:20] schroedtert commented on #564
There is the `doors` tag missing, traffic_constraints should be like:
[code]

[2019-11-27 13:12] anna-braun commented on #564
Thank you! This was a stupid mistake..
But there is an other problem. I added the doors tag, but now the simulation stops at t=0 sec, because there is no open door. This Problem was solved for the (event) door statuses (#533). Is there a difference between events and traffic_constraints?

[2019-11-28 07:53] schroedtert opened #566 "[Linux] error when no path to ini-file is given"
**Describe the bug**
jpscore exits with an error when no path to ini-file is given. When calling jpscore with the filename without path, relative or absolute, an error is thrown.

**Additional context**
jpscore bottleneck_ini.xml
[2019-11-28 09:01:06.772] [info] Starting JuPedSim - JPScore
[2019-11-28 09:01:06.772] [info] Version 0.8.4
[2019-11-28 09:01:06.772] [info] Commit id v0.8.4-248-gc918c51

[2019-11-28 08:27] schroedtert opened #567 "Refactoring Simulation::UpdateRoutesAndLocations()"
Function needs refactoring to:
[ ] get an overview what is done here
[ ] see if this is the right location to do so
[ ] reduce side effects, which are not expected by this function name
[ ] reduce multiple calls to functions
[ ] stick to the router interface

see also: #264

[code]

[2019-11-28 10:14] zeroset opened #568 "Python script calls python as subprocess"
In `JPSRunTestDriver` the makeinifile.py script is calle using
```subprocess.call(["python", "makeini.py", "-f", "%s" % self.FILE])```
Depending on the system this is python2 or python3. We should stick to python3 and avoid calling command line programs like this. The user calls the python script using a specific python version and this should be used!
That is the reason why we have to install num

[2019-11-28 13:22] schroedtert opened #570 "FF-Router move to door closest to desired exit"
At the moment the FF-Router sends the peds only to their desired exit if all doors between current position and exit are open/temp_close. When one door on the way is closed, the peds wait in their current room instead of progressing to closed door.

Current situation: (green=open door, red=closed door)
![Picture1](https://user-images.githubusercontent.com/15690524/69809605-5be56080-11ea-11ea-9adb-

[2019-12-02 13:27] anna-braun commented on #426
I tested the influence of the values of force_ped _a_ and _D_.
For _D_ the agents have a larger spacing between each other, which makes the walking around the corner more realistic but for free walking on corridors the spacing is to high and therefore unrealistic..
a=2, D=0.1: ![a-2_D-0 10](https://user-images.githubusercontent.com/38530070/69962537-8860eb80-150e-11ea-8a0b-7eb76c7b6e3c.png)
a=2, D

[2019-12-02 15:00] schroedtert commented on #178
From the source code this bug still exists, and also peds in neighbouring rooms with a wall between will be treated as neighbours and have an influence.

[2019-12-03 14:27] zeroset opened #572 "Report: add commit hash to log output."
Add the commit hash to log output for debugging purposes.
Should look as follows:
[code]

[2019-12-03 14:32] gjaeger opened #577 "external files"
Outsource some configurations from inifile to external xml files:
- [ ] measurement area
- [ ] methods

[2019-12-03 14:33] chraibi opened #578 "Trajectory file format"
In Gitlab by @chraibi on Sep 25, 2017, 17:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/63)]

Currently only trajectories files with the unit "cm" are supported.

[2019-12-03 14:33] chraibi opened #579 "usage of JPSreport on stair subrooms"
In Gitlab by @chraibi on Dec 10, 2015, 08:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/40)]

When using bounding boxes on stair subrooms, the projected (2D) walking speed(s) get(s) evaluated. Effectively, the walking speeds are higher as the agents move in z-direction as well.

proposted change:
inclusion of an attribute "angle" that can be used to correct the result

[2019-12-03 14:34] chraibi opened #580 "Huge trajectory files can not be processed"
In Gitlab by @anna-braun on Mar 1, 2019, 10:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/100)]

I wanted to do some calculations with jpsreport, but generated a segmentation fault:
![segmentation_fault](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/77ddd4a66f89d6f74dac7a43f84f42f8/segmentation_fault.png)

The trajectory file has about 2GB.
You can f

[2019-12-03 14:36] chraibi opened #584 "Method H | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/95)]

Implementation of ***measurement method 4*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 34] as ***Method H***

[code]

[code]

[code]

[2019-12-03 14:36] chraibi opened #585 "Method G | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/94)]

Implementation of ***measurement method 3*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 32] as ***Method G***

[code]

[code]

[2019-12-03 14:36] chraibi opened #586 "Method F | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/93)]

Implementation of ***measurement method 2*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 31] as ***Method F***

[code]

[code]

[2019-12-03 14:37] chraibi opened #587 "Method E | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 07:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/92)]

Implementation of ***measurement method 1*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 28] as ***Method E***

[code]

[code]
and for the measurement area $`\Delta x \cdot \Delta y`$:

[code]

[2019-12-04 10:35] #566 closed

[2019-12-04 14:44] anna-braun opened #590 "Waiting_areas - Error control"
When using global_timer="true" min_peds is not needed. But if min_peds is not used, the simulation crashes because of the missing value.

[2019-12-11 13:31] anna-braun commented on #564
Works with PR #565

[2019-12-11 15:04] anna-braun opened #595 "Sources - Wrong times for frequency"
I tested an other function for the sources. I have 5 sources which have the same frequency, but different start times (time_min). So I would expect, that the sources start generating agents at time_min and the next time is time_min+frequency. But what happens its, that each source starts at time_min and then generates the agents with a "global" frequency, so there is no difference between the time

[2019-12-12 09:42] anna-braun opened #597 "Waiting_areas - Forwarding"
This could be a very useful feature for KapaKrit.
Now it is only possible to set max_agents for WAs. So if max_agents is reached no more agents will enter the WA. E.g if max_agents from WA_1 is reached, the agents will wait in WA_0 until the agents in WA_1 will leave it again.
![Weiterleitung](https://user-images.githubusercontent.com/38530070/70700221-aecf1580-1cca-11ea-880b-63d6415f4dd9.png)
To

[2019-12-12 10:02] #590 closed

[2019-12-13 14:37] schroedtert opened #600 "Documentation Pedestrian::GetV0Norm()"
Documentation for Pedestrian::GetV0Norm() is available but not shared. Pictures are needed to understand the code better.

- [ ] Update Doxygen documentation for the function
- [x] Create links to images in docs folder.

[2019-12-14 09:20] Ozaq commented on #574
@chraibi & @zeroset & @gjaeger I think this can be closed after integrating report into jpscore

[2019-12-14 09:23] Ozaq commented on #574
err.... I had a look into the file this DEFINITELY needs cleanup :P. Ill open a PR :/

[2019-12-15 16:06] #572 closed

[2019-12-15 17:50] zeroset commented on #498
Ticket closed and reopened when we have a good solutions for this.

[2019-12-15 17:50] #498 closed

[2019-12-15 19:33] #335 closed

[2019-12-16 10:37] #497 closed

[2019-12-16 13:10] gjaeger opened #613 "Flow through bottlenecks"
**Input files:**
* [ini_UO_300-300-080_om_3.xml](https://github.com/JuPedSim/jpscore/files/3967949/ini_UO_300-300-080_om_3.xml.zip)
* [geo_UO_300-300-080_jpscore.xml](https://github.com/JuPedSim/jpscore/files/3967950/geo_UO_300-300-080_jpscore.xml.zip)

**Observation**
In front of the bottleneck an unnatural congestion occurs near the walls.

**Screenshots**

![tmp_0000333](https://user-images.git

[2019-12-16 13:10] #491 closed

[2019-12-16 13:14] #560 closed

[2019-12-16 13:17] #506 closed

[2019-12-16 13:22] #375 closed

[2019-12-16 13:24] #361 closed

[2019-12-16 13:27] zeroset opened #614 "Documentation"
The current documentation needs to be updated. Additionally we want to migrate the documentation from the `gh-pages` branch into the master branch, so we have documentation in the main branch.

- [x] Move `gh-pages` from all JPS projects to master into docs folder.
- [x] Restructure Documentation.
- [x] Check [Documentation Theme](https://idratherbewriting.com/documentation-theme-jekyll/)
- [x] Up

[2019-12-16 13:27] #582 closed

[2019-12-16 13:34] zeroset commented on #458
Discussion is continued in #319

[2019-12-16 13:34] #458 closed

[2019-12-16 13:40] zeroset commented on #465
Will be done in #614

[2019-12-16 13:40] #465 closed

[2019-12-16 14:00] zeroset opened #615 "Remove Progress Bar"
Progress Bar may cause a very large output file and is not necessary anymore.

- [ ] Remove Progress Bar feature
- [ ] Update examples and demos not to use progress bar output.

[2019-12-16 14:01] #437 closed

[2019-12-16 14:05] zeroset opened #616 "Clean up pedestrian class"
Main goal: Reduce class size and move variables to the corresponding classes where they belong and remove stuff which is not needed.

If you have any objections, please comment here.

Steps:
- [ ] mark stuff that should either be removed or moved to different class + discussion
- [ ] remove not implemented not called functions, not used variables
- [ ] move variables to responsible classes
- [ ] c

[2019-12-16 14:14] zeroset opened #617 "Waiting Area Architecture Discussion"
Discuss the current architecture of Waiting Areas and find ways for improvement.

- [ ] Prepare discussion
- [ ] Try to prepare current state of implementation and architecture.
- [ ] Create an Appointment for discussion with @chraibi, @schroedtert and @zeroset, (@Ozaq ?)

[2019-12-16 14:47] zeroset commented on #236
We don't support OpenMP 2.0, so we disabled OpenMP when using MSVC.

[2019-12-16 14:47] #236 closed

[2019-12-16 14:50] zeroset commented on #223
See #482

[2019-12-16 14:50] #223 closed

[2019-12-16 14:57] zeroset opened #618 "Cleanup available routers"
We must cleanup the existing routers. We only want to keep the following routers: FloorField, Global Shortest, Smoke Router.

- [ ] Remove all other Router classes
- [ ] Remove Routers from Demos, Tests and Example XML files
- [ ] Remove Documentation for removed routers.

[2019-12-16 14:57] zeroset commented on #141
see #618

[2019-12-16 14:57] #141 closed

[2019-12-16 18:24] #615 closed

[2019-12-16 21:09] chraibi commented on #613
The phenomenon you observe here is due to a high value of the parameter `a` in the repulsive function `R` (see [Fig. 2, right](https://arxiv.org/abs/1512.05597)).
In the original model, this value is equal to 5 and in the [generalized version](https://arxiv.org/abs/1908.10304) it is 3.

This parameter, and probably the others as well, are geometry dependent.

The elongated nature of the corridor i

[2019-12-17 08:56] schroedtert opened #620 "Refactor EventManager"
EventManager needs some clean up, there a some functions which have no influence.
- [ ] remove not needed functions
- [ ] move parsing functions to parser class
- [ ] improve error handling of event and schedule parsing

[2019-12-17 14:37] #539 closed

[2019-12-17 21:08] chraibi commented on #613
@gjaeger if your question is answered, I suggest closing this issue.

To summarize I would say that the parameters for the simulation need proper calibration.

The default values are not meant to be used in *all* scenarios. The user always needs to calibrate the model and try different outcomes.

[2019-12-18 07:12] gjaeger commented on #613
I agree with you. We should take a closer look at the model calibration and explain the background.

[2019-12-18 07:12] #613 closed

[2019-12-18 07:16] gjaeger commented on #583
In handling this issue, we should take into account the discussion of issue #613.

[2019-12-18 11:50] #564 closed

[2019-12-18 18:58] zeroset opened #621 "Refactor Geometry"

[2019-12-18 19:16] chraibi commented on #621
epic! 🤦‍♂

[2019-12-19 10:21] schroedtert opened #622 "FF Router does not work with subrooms correctly"
When using a room with subrooms it may happen that one/mutliple of the subrooms do not get computed at all. The error arises as one point of the subroom is needed to assign the grid points of a subroom to the corresponding subroom. For computation of this point a door of the room is considered, as this door does not necessarily lies in all subrooms, the grid points do not get assigned correctly an

[2019-12-22 10:38] Ozaq commented on #475
@zeroset I think we can close this

[2019-12-22 11:03] Ozaq opened #627 "Track notable events / statistics"
"Old style" logging did track of deleted pedestrians. With the introducing of the spdlog based logging this feature was removed. However there is still the need to keep track of at the least the count of deleted pedestrians. (Although it may be worth a discussion if this should be an error or not).

To solve this I would like to introduce a simple stats tracking object where the application can ad

[2019-12-22 14:45] chraibi commented on #475
I think we can close this.

[2019-12-22 14:45] #475 closed

[2019-12-22 18:56] chraibi opened #629 "Howtos for jpsreport"
The documentation of jpsreport comes with two different Howtos:

1. How to calculate the fundamental diagram
2. How to produce density, velocity and flow profiles.

Data from the [db-archiv](http://ped.fz-juelich.de/db/) should be used.

These Howtos are meant to explain the steps to follow, in order to produce the abovementioned results from experimental  (or simulation) data.

This issue can onl

[2019-12-22 18:59] chraibi opened #630 "Direction strategy 9"
According to the documentation strategy, 9 is broken.

@ArneGraf, as the author of these words, would you please clarify this?

Is it broken? Why?

[2019-12-23 19:03] chraibi opened #632 "New release 0.9 is pending"
Since, the code encountered several major changes, regarding structure and functionality, I suggest releasing a new version 0.9.

Things to be considered are

- [ ] Change version from `0.8.4` to `0.9` in all cmake files
- [ ] Create a `tag`
- [ ] Upload executables to Release-Page
- [ ] Write a release summary (like a changelog)
- [ ] Update documentation where necessary

[2019-12-23 19:08] chraibi opened #633 "Tutorials in jpsreport and jpscore"
It would be nice to have the new tutorials as jupyter notebooks too.

Things to cover might be:

  1. editing jpscore inifile
  2. creating geometry
  3. making jpscore simulation
  4. editing jpsreport inifile
  5. analysis
  6. plot results. Voila!

[2019-12-23 20:01] #574 closed

[2019-12-23 20:23] gjaeger opened #634 "Method I, remove unused parameter and unecessary code"
**JuPedSim - JPSreport**

Version        : 0.8.4
Compiler       : clang++ (11.0.0)
Commit hash    : v0.8.4-894-g05d365b1
Commit date    : Sat Dec 14 16:00:47 2019
Branch         : master

During the make process:

[code]

Task from PR #631:  Remove unnecessary code in Method I.

[2019-12-29 16:15] #488 closed

[2019-12-31 08:47] chraibi opened #635 "Check all jpscore demo files"
`jpscore` has many demo scenarios.

We need to make sure they work seemingly with the `master`
 branch.

## How to proceed (suggestion)

- [x] Rename the demos as follows "%2d_description"  and `description` as is now. For example:  "01_corridor"

- [x] Create a README.md for every demo following the following [template](https://gist.github.com/chraibi/b99049e331fe60ada413eb41fd8e4517).

- [x] Rep

[2019-12-31 12:03] #505 closed

[2019-12-31 15:47] chraibi commented on #459
do we still have this option?

[2019-12-31 20:47] chraibi commented on #595
It seems to me that there is a misunderstanding in the functionality of sources.

According to the documentation:

[code]

For source 0 (in the figure), this means: From 5 to 60 create agents every 8 seconds; in other words at 8, 16, 24, 32, 40, 48, and 56.
(these are exactly the crosses in the figure above).

In the [code](https://github.com/JuPedSim/jpscore/blob/master/libcore/src/pedestrian/Age

[2019-12-31 22:10] chraibi commented on #595
After PR #637

![595](https://user-images.githubusercontent.com/5772973/71635195-ab241400-2c22-11ea-8bf1-8c8f340c5f18.png)

[2019-12-31 22:45] #439 closed

[2020-01-01 12:11] Ozaq commented on #459
@chraibi & @chraibi closed because with the logging rework no log file can be set anymore

[2020-01-01 12:11] #459 closed

[2020-01-01 12:16] Ozaq commented on #244
@chraibi these are the stale branches: https://github.com/JuPedSim/jpscore/branches/stale I would like to delete them all, ok? Then we can close this issue

[2020-01-01 12:44] chraibi commented on #244
you can delete them all.

[2020-01-01 12:48] Ozaq commented on #244
Done

[2020-01-01 12:48] #244 closed

[2020-01-03 09:06] #600 closed

[2020-01-07 07:30] schroedtert commented on #161
Will be continued in  #635.

[2020-01-07 07:30] #161 closed

[2020-01-07 08:38] schroedtert commented on #502
Closed with #641

[2020-01-07 08:38] #502 closed

[2020-01-07 11:30] anna-braun commented on #595
I tested it with pr 637 and it works as I expect it, thanks!

[2020-01-08 12:20] schroedtert commented on #345
@chraibi can this be closed?

[2020-01-09 08:09] #345 closed

[2020-01-13 09:26] anna-braun commented on #319
@zeroset
1. As discussed today the structure for the output could look like this:
![Datenstruktur](https://user-images.githubusercontent.com/38530070/72244116-d973fd00-35ed-11ea-8261-8fae56cb2df2.png)
With an new output folder for every simulation, which contains all output files like trajectory files and flow statistics and a copy of all input files.
2. Also important is the paths in the trajecto

[2020-01-13 09:34] anna-braun commented on #303
@chraibi
The Error changed, it's not a segmentation fault any longer:
![Bildschirmfoto 2019-12-20 um 14 30 24](https://user-images.githubusercontent.com/38530070/72244883-800ccd80-35ef-11ea-808e-23555efb69dd.png)
We do not really know if it is a problem of overlapping sources, as the problem also occurs for single sources. Here are the data which create the current error.
[test-wh-20200113.zip](ht

[2020-01-13 09:40] gjaeger opened #644 "Option to write logging information to log file"
issue #459 _Setting a log file location removes errors from output to stdout_ was closed because with the logging rework no log file can be set anymore.

The possibility to write the logging-information into a (log-)file would be good. Can we implement this option again?

[2020-01-13 09:41] anna-braun commented on #307
@chraibi
Highest priority **after issue #303** and PR #637 (issue #595)

[2020-01-14 13:37] schroedtert commented on #622
Closed with f794ca4

[2020-01-14 13:37] #622 closed

[2020-01-14 20:45] chraibi commented on #303
Ok, the first question for me is it a source problem at all?

removing the sources gives me the following errors
[code]

[2020-01-15 08:51] anna-braun commented on #303
@chraibi I have this error, too (master branch, today 09:30h). I guess this is the floor field router problem from PR #623 (@schroedtert ?).
When I do the simulation without sources, I have this error as well, but the simulation does not crash as it happens when using one or more sources, so it seems to be a problem of the sources.

[2020-01-15 09:14] schroedtert commented on #303
No this is not the FF problem, this is solved with #623. This is the error, that the sources created pedestrians at (0,0) and this point is not inside the room.

[2020-01-15 16:37] #595 closed

[2020-01-16 09:22] schroedtert commented on #303
Just a question, do source have the possibility to be distributed in a specific room? I couldn't find this parameter in the documentation.

`<group group_id="901" agent_parameter_id="1" room_id="0" subroom_id="1" number="1" goal_id="901" router_id="1"  />`

[2020-01-16 09:40] anna-braun commented on #303
@schroedtert The (sub)room is defined in the group as you show it in the example.
In the sources you can only give a start position, the (sub)room is taken from the group.
`<source id="901" caption="source_1-gl_9" group_id="901" time_min="0" time_max="6000" frequency="10" N_create="1" agents_max="40" x_min="93" x_max="97" y_min="0" y_max="5" greedy="true"/>`

[2020-01-16 09:45] schroedtert commented on #303
Sorry, my bad, looked in the wrong file.

[2020-01-16 10:29] schroedtert commented on #303
https://github.com/JuPedSim/jpscore/blob/ba513cbabf4be5153d18cc6c75e4c9dfcac17e08/libcore/src/pedestrian/AgentsSource.cpp#L220-L251

emptyPositions is never set, hence the pedestrians are always created at (0,0). The check if the point is inside the geometry is only done in the FF Router, resulting in the assert error.
I changed the demo by shifting it 5m to the right (x = x + 5) and using the FF

[2020-01-16 14:01] anna-braun opened #648 "Reset in schedules"
If `max_agents` is used for a group in the schedule and reset is set true, the closing time has to be considered as well.
**Example:**
The doors of a group should be open for 30 seconds (closing_time) and maximum 50 people are allowed to enter (max_agents).
Case 1: After 25 seconds 50 people have entered the doors -> doors are closed by max_agents and reset for next train.
Case 2: After 30 seconds

[2020-01-17 10:04] #614 closed

[2020-01-20 08:54] #648 closed

[2020-01-20 12:55] xuqiancheng commented on #635
- [ ] **Demo 06_ship** doesn't work. The output is [output_06_ship.txt](https://github.com/JuPedSim/jpscore/files/4086151/output_06_ship.txt)

- [ ] **Demo 07_floorfield** works well, but the corrected geometry is not in the demo folder.

- [ ] **Demo 08_big_room** works well, but the door statistics is not in the demo folder and the result is wrong.

- [ ] **Demos 10_sources** works well, but I d

[2020-01-24 09:19] gjaeger opened #653 "inifile, header, trajectories element, naming of options"
After PR #649, in the element `<trajectories>` there is still the option `<file location>`.

example:
[code]

Isn't it better if we rename it to `<file name="trajectories.xml" />`? Do we need the file extension? Can't we set them automatically depending on the format?

[2020-01-28 09:10] schroedtert opened #657 "Interface for XML parsing"
Create a better interface for parsing specific values from a xml file.

AC:
- templated interface which interacts with TinyXml nodes and throws expressive exceptions
- library for parsing strings to desired data type:
    - check if input is datatype
    - check if in datatype range
- data types needed:
    - integer (signed/unsigned)
    - double (signed/unsigned)
    - bool
    - fs::path
- unit

[2020-01-29 12:47] anna-braun opened #659 "Closed doors ignored"
In all my large simulations the closed doors (temp_close, set by traffic_constraints) are ignored. For the small example it works fine, so I don't know what is wrong with the large simulations.
Here is an example of both.
[20200129.zip](https://github.com/JuPedSim/jpscore/files/4127962/20200129.zip)
[test3-20200122-SB-HiVo-geschlossen.zip](https://github.com/JuPedSim/jpscore/files/4127966/test3-20

[2020-01-29 12:55] anna-braun opened #660 "Large Simulation failed"
I started the large simulations for KapaKrit (on Jureca) and it seems to work fine, but all the simulations are incomplete, because they crashed before, for no visible reason. Here is one of the log-files: [out_0.log](https://github.com/JuPedSim/jpscore/files/4128033/out_0.log)
An example of the simulations can be found in Issue #659

[2020-01-30 09:27] chraibi commented on #635
@xuqiancheng did you make all the necessary changes? Can your PR be reviewed?

[2020-01-30 09:55] xuqiancheng commented on #635
I have made some changes to rename the demos and create README.md for each demos.
And I fix some small problems I found to make demos work well.

But the problems I mentioned in https://github.com/JuPedSim/jpscore/issues/635#issuecomment-576262057 haven't been solved yet.  So I haven't make a PR yet.

Should I fix these problem or we need discussion?

[2020-01-30 12:16] chraibi commented on #635
I would remove this demo, unless you can fix the geometry with some effort.

Can you use a *correct* geometry?

Why is the result wrong?

use the strategy we have for the ff-router.

[2020-01-30 14:23] xuqiancheng commented on #635
`2020-01-30 15:17:34.947] [info] Exit ID [0] used by [80] pedestrians. Last passing time [44.58] s
[2020-01-30 15:17:34.947] [info] More Information in the file: /home/qiancheng/workspace/jpscore_develop/jpscore/build/bin/results/flow_exit_id_0_big_room_250_traj.txt
[2020-01-30 15:17:34.947] [info] Exit ID [1] used by [46] pedestrians. Last passing time [37.46] s
[2020-01-30 15:17:34.947] [info] M

[2020-01-30 15:57] chraibi commented on #635
please keep only the small version of the inifile. I checked, that it is 300, it's correct.

[2020-01-31 12:03] xuqiancheng opened #663 "The door statistics are wrong"
When I run demo 08_big_room. I found the door statistics is wong.

In the inifile, there are 250 pedestrians evacuating from four exits.

![image](https://user-images.githubusercontent.com/32732507/73537828-b937a100-4429-11ea-8213-b774048c1e1a.png)

But in the door statistics, there are 300 pedestrians evacuating from the four exits.

`2020-01-30 15:17:34.947] [info] Exit ID [0] used by [80] pedes

[2020-01-31 13:39] chraibi commented on #635
Please also add documentation of the demos with screenshots.
I suggest adding a file in `docs/pages/jpscore` called `jpscore_demos.md`, like [test](http://www.jupedsim.org/jpscore_tests_juelich.html)

but for every bullet add a screenshot of the simulation.

[2020-02-02 14:35] schroedtert commented on #620
Closed with #654

[2020-02-02 14:35] #620 closed

[2020-02-02 14:37] #374 closed

[2020-02-03 06:50] schroedtert commented on #319
Can this be closed? See #649

[2020-02-03 06:53] schroedtert commented on #314
Can this be closed? See #649

[2020-02-03 07:30] schroedtert commented on #474
Can this be closed? See #649

[2020-02-03 07:31] #319 closed

[2020-02-03 07:31] #359 closed

[2020-02-03 07:36] #314 closed

[2020-02-03 07:37] #474 closed

[2020-02-03 07:47] #659 closed

[2020-02-03 09:25] zeroset commented on #380
Closed and handled in #455

[2020-02-03 09:25] #380 closed

[2020-02-03 09:26] #461 closed

[2020-02-03 09:27] zeroset commented on #455
see #657 and followup issues

[2020-02-03 09:30] zeroset commented on #466
@gjaeger as the documentation is in the same branch in the doc folder, do you still think we should add documentation to the sources itself?

[2020-02-03 09:32] zeroset commented on #436
We will not have an XSD validating XML parser. We should delete all xsd files and remove them from the xml files.

[2020-02-03 09:35] zeroset commented on #65
Closed in favor of #621

[2020-02-03 09:35] #65 closed

[2020-02-03 09:35] #177 closed

[2020-02-03 09:38] zeroset commented on #312
Do we currently need this feature? I would like to close the issue and create a new one when we need Elevators.

[2020-02-03 09:40] zeroset commented on #562
see #663

[2020-02-03 09:40] anna-braun commented on #312
yes we need it for KapaKrit

[2020-02-03 09:45] gjaeger commented on #466
The current documentation is very limited. We should document the test cases in more detail. If we use the documentation in the doc folder, we should also link the files and display the results there.

Any other suggestions?

[2020-02-03 09:52] zeroset commented on #570
@schroedtert still valid?

[2020-02-03 09:55] #630 closed

[2020-02-03 09:57] zeroset commented on #632
@chraibi can you describe the issue more detailed please?

[2020-02-03 09:58] zeroset commented on #633
@chraibi How and why do you want to have jupyter notebooks?

[2020-02-03 10:00] zeroset commented on #644
We should introduce a named command line parameter setting the name of the log file. The log file should be written into the new introduced output folder (see #649)

[2020-02-03 10:21] chraibi commented on #633
How:
Like this one
https://github.com/JuPedSim/jpscore/blob/master/jpsreport/demos/HowTo.ipynb

Why: Jupyter notebook is self-contained and can be run along with explanations. It does not have to be a notebook.

[2020-02-03 10:25] chraibi commented on #632
description updated.

[2020-02-03 10:26] chraibi commented on #644
`--log logfile`

[2020-02-03 10:27] chraibi commented on #466
Probably generating a "report" pdf-file like RiMEA and upload it somewhere?

This could work fine if teamcity is configured to upload to some ftp-server.

[2020-02-03 10:31] chraibi commented on #436
no objetcions

[2020-02-03 11:58] gjaeger commented on #632
Does a hard-coded version number in the cmake files make sense? Isn't the git-tag-commit statement enough?

[2020-02-03 17:28] chraibi commented on #632
Yes, you have a point.
[code]
gets us the version from the tag (assuming we are disciplined enough to stick to a certain naming of tags).

If there no other hidden tricks, this solution sounds good to me too.

[2020-02-05 14:33] #303 closed

[2020-02-05 20:53] #575 closed

[2020-02-06 10:39] anna-braun opened #669 "JPSreport - Method A failed"
When I tried to analyse my trajectories with JPSreport - method A, a segmentation fault occurs. The Problem might be the high ID numbers from the agents, which result from the sources in the simulation.
[00-report_test.zip](https://github.com/JuPedSim/jpscore/files/4164594/00-report_test.zip)

[2020-02-06 11:45] gjaeger commented on #669
@anna-braun Can you upload your jpscore-files?

[2020-02-06 11:53] gjaeger commented on #669
The result:
[code]
The problem is based on the agent ID for agents from sources.

It's an addressing error In `Method_A.cpp`, line 145. When using sources, there is a step in the numbering of the agents.

In my opinion it is not a problem of jpsreport. The reason for this is due to jpscore.

[2020-02-10 10:09] gjaeger commented on #669
@anna-braun Method A calculates the [mean value of flow and density over time](http://www.jupedsim.org/jpsreport_method_A.html). The period of time desripted the time when the first and last pedestrians pass the location. The time period can be of varying length. The results are written to the file `FDFlowVelocity_traj_`.

In addition to this calculation, a cumulative count of persons is performed

[2020-02-10 10:22] anna-braun commented on #669
`Flow_NT_traj_` is what I need, yes. If this does not really belong to Method A, it could make sense to split it to a new method counting in the future.
But as PR #670 does still not work for me, this should be fixed first..

[2020-02-10 14:53] zeroset opened #673 "JPS library"

[2020-02-10 14:55] zeroset opened #674 "Define API Headers"

[2020-02-10 14:57] zeroset opened #675 "Create Build Steps for API"

[2020-02-11 00:08] chraibi commented on #669
@anna-braun please try again. I think this is now fixed.

However, there something wrong with the trajectories. Pedestrian 1 is missing at frame 105. 🤔
<img width="580" alt="Screenshot 2020-02-11 01 02 42" src="https://user-images.githubusercontent.com/5772973/74201723-cf83ff00-4c6a-11ea-831f-0aa710ccacb2.png">
<img width="582" alt="Screenshot 2020-02-11 01 03 01" src="https://user-images.githubus

[2020-02-11 06:45] gjaeger commented on #669
I can't reproduce the missing frame _105_ from agent _1_.

excerpt from `Trajektorien_Bahnsteig-SB-2-offen_x_Minuten-4-HiVo.txt`:
![missing_frame](https://user-images.githubusercontent.com/7759675/74215709-45578d00-4ca2-11ea-8e9d-899033bdaf7f.png)

@chraibi Can you check your trajectory file again?

[2020-02-11 12:12] #660 closed

[2020-02-12 09:06] zeroset opened #677 "Trains"

[2020-02-12 09:06] zeroset opened #678 "train"

[2020-02-12 09:07] #678 closed

[2020-02-12 09:09] zeroset opened #679 "Sources"

[2020-02-12 09:11] zeroset opened #680 "Performance Optimization"

[2020-02-12 09:12] zeroset opened #681 "Quadtree / LC-Grid"

[2020-02-12 09:13] zeroset opened #682 "Unified Routing API"

[2020-02-12 09:13] zeroset opened #683 "Unified Operational Model API"

[2020-02-12 09:13] zeroset opened #684 "Configuration Input"

[2020-02-12 09:14] zeroset opened #685 "Output Data"

[2020-02-12 09:14] zeroset opened #686 "Geometry API"

[2020-02-12 23:42] #635 closed

[2020-02-13 00:12] chraibi opened #687 "Test generated Binaries/Setup scripts"
Set up Teamcity to create the install packages automatically AND setup a package installation test that works along this line:

- Download the package
- install the package
- run the application with a minimal sample
- uninstall the application

[2020-02-13 17:25] chraibi opened #688 "Integration of jpsreport in jpscore"
Although `jpsreport` is already integrated into `jpscore`, some functionalities are still missing.

Things to be done:

1. Extensive testing of the methods and integration of the tests in cmake (also assigned to epic issue #720)
   - Method A (issue #695 solved by PR #668)
   - Method B - open issue #690
   - Method C - open issue #691
   - Method D (issue #692 solved by PR #753)
   - Method I (is

[2020-02-13 17:39] chraibi opened #689 "Use Jinja in tests"
In the tests, we use a self-made [script](https://github.com/JuPedSim/jpscore/blob/master/systemtest/makeini.py) to generate inifiles out of a "master inifile".

The script reads in the master-inifile values, which may be lists or arrays of len>1 and generates in return many inifiles composed of the cartesian product of these lists.

For example for the following input
[code]

the script generates

[2020-02-13 17:44] chraibi opened #690 "Test method B"
Test Method B against simple scenarios.

Create (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-13 17:45] chraibi opened #691 "Test Method C"
Test Method C against simple scenarios.

Create (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-13 17:46] chraibi opened #692 "Test Method D"
Test Method D against simple scenarios.

Create (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-13 17:48] chraibi commented on #629
@gjaeger are you working on this issue?

[2020-02-13 17:49] chraibi commented on #583
@gjaeger any progress here?

[2020-02-13 19:09] gjaeger commented on #629
@chraibi yes

[2020-02-13 19:09] gjaeger commented on #583
@chraibi yes

[2020-02-14 09:48] zeroset opened #693 "Update README Build Instructions"
The Readme needs to be updated to reflect recent changes in buildsystem and dependency installation. Especially it needs to describe the use of the `scripts/setup-deps.sh`.

[2020-02-14 10:24] chraibi commented on #693
.. alternatively, we can update the online docu and link to it.

Which variation is nicer, I don't know

[2020-02-14 10:55] #669 closed

[2020-02-14 11:54] gjaeger commented on #688
@chraibi You forgot method J.

[2020-02-14 12:00] schroedtert opened #694 "Waiting Area"
Improve the handling of goals inside the geometry, e.g. waiting areas.
First the architecture needs to be discussed to deal with the current 3 use cases:
1. Waiting for a specific time
2. Waiting for a transition
3. Waiting for a train

Then the forwarding needs to be improved. At the moment only forwarding to a fixed probability is possible. A more dynamic approach based on distance and occupancy

[2020-02-14 12:04] chraibi commented on #688
Thanks. Could you open the corresponding issue?
(.. and for method A too, please)

[2020-02-14 12:40] gjaeger opened #695 "Test method A"
Test Method A against simple scenarios.

Create/modify (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-14 12:43] gjaeger opened #696 "Test method J"
Test Method J against simple scenarios.

Create (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-14 12:44] gjaeger commented on #688
done (see #695 and #696)

[2020-02-14 12:47] gjaeger opened #697 "Test method I"
Test Method I against simple scenarios.

Create (with `jpscore`) simple simulations, where the outcome of the method should be straightforward and easy to follow and reproduce.

[2020-02-18 09:41] zeroset opened #698 "Testissue"

[2020-02-18 09:42] #698 closed

[2020-02-18 15:32] #634 closed

[2020-02-19 16:08] zeroset commented on #553
fixed in #592

[2020-02-19 16:08] #553 closed

[2020-02-21 13:45] chraibi opened #706 "jpsreport: Method D with a measurement method out of bounds"
What happens actually if the measurement method is not in the geometry?

`jpsreport` gives the following error:

[code]

and goes on by producing a ton of warnings

[code]

then ends with an optimistic message

[code]

In this case this [if](https://github.com/JuPedSim/jpscore/blob/master/jpsreport/Analysis.cpp#L234) is not entered, so that `geoPoly[area->_id]` does not get initialised.

How do yo

[2020-02-21 14:05] chraibi opened #707 "jpsreport: Cleanup and document scripts"
`jpsreport` offers many functionalities to analyze and plot the results, using some python [scripts](https://github.com/JuPedSim/jpscore/tree/master/jpsreport/scripts)

This directory needs the following:

- [ ] Documentation: Update the readme file:
  - [ ] use markdown syntax
  - [ ]  Document the purpose od each script
- [ ] Remove the scripts that are not needed (discuss first in the body of t

[2020-02-22 07:57] chraibi opened #708 "Geometry functionalities in jpsreport should use jpscorelib"
Remove geometry from `jpsreport` and use `libcore`'s geometry.

[2020-02-28 17:02] #568 closed

[2020-03-09 09:30] anna-braun opened #718 "Method A - different results for different path locations"
In the dictionary you can finde two tests.
[jpsreport.zip](https://github.com/JuPedSim/jpscore/files/4305737/jpsreport.zip)

In Test-01 the report-ini is **not** located in the same dictionary as the geometry and the trajectory file. In Test-02 the report-ini is located in the same dictionary.
For Test-02 the analysis with report works fine and the output is saved as expected.
For Test-01 the anal

[2020-03-09 09:48] anna-braun opened #719 "Method A - Non continuous frames - files are not saved"
The simulation with JPScore breaks because of a time limit.
The analysis with JPSreport seems to run without any problems (it does not crash). The output dictionary has been created, but there are no files saved in it. The log file shows, that there is a problem with a non continuous ID.

I guess for Method A there has to be a warning in the log file, but the results should be saved anyway, becaus

[2020-03-09 10:08] gjaeger commented on #718
@anna-braun I can confirm your observations with jpsreport _v0.8.4-928-g49c2c1d4-dirty_.

It looks like something is going wrong with `FD_FlowVelocity` in Method_A.cpp.

[2020-03-09 10:52] gjaeger opened #720 "jpsreport, test methods"
Create/modify (with jpscore) simple simulations for all methods, where the outcome of the method should be straightforward and easy to follow and reproduce.

The trajectories of previous tests are based on a simulation with FDS+Evac  (see attached [inputfile](https://app.zenhub.com/files/36440436/ea54678c-e1fd-41d4-ae3d-a6bd12195b5e/download) and [movie](https://app.zenhub.com/files/36440436/8e509

[2020-03-09 13:57] anna-braun commented on #718
@gjaeger Yes it is the same with this / the newest version

[2020-03-12 12:25] #436 closed

[2020-03-23 09:35] schroedtert opened #722 "Demo 07 crashes with geometry correction"
When trying to run `demos/07_big_room/big_room_ini.xml` the following error occurs:
[code]
When commenting out the correction in `Building.cpp:292ff` everything works perfektly.
[code]

[2020-03-23 09:40] schroedtert opened #723 "Remove hard-coded periodic from VelocityModel"
Currently in the VelocityModel the values for the periodic area are hard coded, which should be removed.
`VelocityMode.cpp:39ff`:
[code]

Afterwards it needs to be discussed if we still need this option, as it is not used GFCM and VelocityModel.

[2020-03-23 10:55] chraibi commented on #723
I think we need this option, but it should be implemented in a more general way.

[2020-03-24 14:05] JetteSchumann opened #724 "Incomplete cmake command in documentation"
CMake prefix path `-DCMAKE_PREFIX_PATH=$(pwd)/deps` is missing in documentation of "How to build" on Linux

[2020-03-24 14:15] Ozaq commented on #724
@JetteSchumann I just saw this popup, if you update this you could also link to the cmake doc describing the details of this flag since its not JPS specific but a general configuration option of cmake.
https://cmake.org/cmake/help/latest/variable/CMAKE_PREFIX_PATH.html

[2020-03-24 16:04] #724 closed

[2020-03-30 05:35] JetteSchumann commented on #718
@anna-braun since the name of the trajectory file is used when creating the outputfile names, the location of it must be defined separatly when it's not in the directory where jpsreport is executed.

`  <trajectories format="txt" unit="m">
    <file name="results/12-combine.txt" />
  </trajectories>
`
Should be:

`  <trajectories format="txt" unit="m">
    <file name="12-combine.txt" />
    <path

[2020-03-30 10:20] gjaeger commented on #718
@JetteSchumann You are right.

We should add a corresponding note in the section "[Trajectories](http://www.jupedsim.org/jpsreport_inifile.html#trajectories)". Like:

I've detected another problem with the logfile. No absolute or relative path may specified in the `<logfile>` option. Otherwise the logfile will not be created.

We should add a corresponding note in the section "[Logfile](http://www

[2020-03-31 08:58] anna-braun commented on #718
@JetteSchumann
Yes, this works for me. As Gregor says this should be adopted/changed in the docu.

[2020-03-31 09:29] anna-braun commented on #719
@JetteSchumann
Hi, are there any updates here?

[2020-03-31 12:56] JetteSchumann opened #727 "Improve documentation of inifile for jpsreport"
Documentation regarding the definition of the traj- and log-file must be adapted in accordance to #726

[2020-03-31 13:35] gjaeger commented on #718
Done with PR #726.

[2020-03-31 13:35] #718 closed

[2020-03-31 13:56] #727 closed

[2020-03-31 14:01] JetteSchumann commented on #719
@anna-braun
I'm working on it. You will get an update tomorrow ;)

[2020-04-01 16:42] JetteSchumann commented on #719
The actual problem is that that the combined traj-file contains position information that is not sorted by time. E.g. data for frame 5656 is read in befor data for frame 3717. This leads to indexing issue which I am trying to solve at the moment.

[2020-04-02 11:36] gjaeger commented on #719
@JetteSchumann and @anna-braun You can use python with pandas and sort your trajectory file.

Like:
[code]

[2020-04-02 11:45] gjaeger commented on #719
my new files:
- [ini_13-report-ini-RE.xml](https://github.com/JuPedSim/jpscore/files/4420732/ini_13-report-ini-RE.xml.zip)
- [traj_12-combine.txt](https://fz-juelich.sciebo.de/s/NibCagHzIKSE20f)

but with
[code]

... I get a segmentation fault
- [log_new.txt](https://github.com/JuPedSim/jpscore/files/4420735/log_new.txt.zip)

... strange

[2020-04-02 11:46] anna-braun commented on #719
Okay, this is crazy, because for most of my simulations this works fine, it is only one case, which seems to mix the data.

[2020-04-02 11:49] gjaeger commented on #719
Is this a problem of `jpsreport`?

[2020-04-02 11:49] anna-braun commented on #719
Okay, I will check if it works for me

[2020-04-02 11:50] JetteSchumann commented on #719
@anna-braun could you upload more trajectory files?
If the data for the last frame (maximum) frame are at the end of those files, it should work correctly.

[2020-04-02 11:51] JetteSchumann commented on #719
@gjaeger of course it is ..........

[2020-04-02 12:08] gjaeger commented on #719
@JetteSchumann I admit that my question could be understood as a rhetorical question.

@anna-braun Is the trajectory file `12-combine.txt` created directly by `jpscore` and not edited further?

[2020-04-02 12:08] anna-braun commented on #719
Here are 4 more examples. If you need more, please tell me.
https://fz-juelich.sciebo.de/s/EXglchlGSzpRKt7

[2020-04-02 12:10] gjaeger commented on #719
I've no problem with the latest commit 4226836b:

[code]

[2020-04-06 09:26] schroedtert opened #730 "Extend event manager to handle train events"
As we already have a event mechanism for doors, the same mechanism could be used to handle arriving and departing trains.

Tasks:
- Use `Event` as general interface
- Current events as door open, close will be handled by `DoorEvent`
- `TrainEvent` for arriving and departing trains

[2020-04-06 10:02] schroedtert opened #731 "Move train parsing to seperate file"
For better testability and easier usage outside the geometry parsing of the train file should be moved to a separate file (similar to the EventFileParser).

[2020-04-06 10:43] anna-braun commented on #719
It works after sorting the trajectory file!

[2020-04-06 10:50] anna-braun opened #732 "Numbering of trajectory files"
The numbering of the trajectory files (if > 16 MB) should be adapted.
Instead of `traj_1.txt` - `traj_999.txt` it should be `traj_001.txt` - `traj_999.txt`

[2020-04-06 10:52] gjaeger commented on #719
@anna-braun Can we close this issue?

[2020-04-06 11:00] anna-braun commented on #719
I'm not sure. What is with the point of missing frames?

[2020-04-06 11:28] gjaeger commented on #719
@anna-braun @JetteSchumann
When I remove the lines for frame 4, I get the following message in the logfile:
[code]

So, `jpsreport` _requires_ continuous trajectories. We should add a note in the [documentation](http://www.jupedsim.org/jpsreport_inifile.html#trajectories).

[2020-04-06 11:41] zeroset commented on #719
@JetteSchumann Can you please add this to the Documentation and close the issue afterwards?
Thanks.

[2020-04-06 11:44] gjaeger commented on #719
One small addition:
As @JetteSchumann already reported, this message is generated when the trajectories are read in. So all methods are affected.

[2020-04-06 12:46] #681 closed

[2020-04-06 16:43] JetteSchumann opened #734 "Improve documentation on trajectory files"
Information regarding trajectory files are missing in the documentation:

- jpsreport, input: traj file needs to contain information sorted by frames
- jpscore, output: splitting at 16MB, merging needed for jpsreport

See #719  and #732

[2020-04-07 15:24] #732 closed

[2020-04-08 06:43] #734 closed

[2020-04-08 06:45] JetteSchumann commented on #719
Issue hase been fixed with PR #735 and #733

[2020-04-08 06:45] #719 closed

[2020-04-09 13:55] Monk9636 opened #737 "jpscore and jpsreport compile problem"
When build solution of jpscore in visual studio 2019, skipped two project, one is jpsreport. and result show the jpscore works well but jpsreport don't work well. latest build encounter error code C1083, says "Cannot open include file: 'boost/polygon/voronoi': No such file or directory in jpsreport project ,the filepath is F:\shixiongchengxu\jpscore\jpsreport\general\Macros.h	line 34". former step

[2020-04-16 13:40] zeroset commented on #687
We are now able to automatically generate Packages using CPack. We need a way to automatically test the resulting packages on Windows and MacOS. At the moment this is open for discussion.

[2020-04-16 13:51] zeroset commented on #378
This was planned as workaround for waiting rooms without exit. Since this was a workaround and is no modeled in another way we close this issue and will not implement one sided doors at this moment.

[2020-04-16 13:51] #378 closed

[2020-04-20 09:32] zeroset opened #741 "Train: Systemtest for Trains"
Adapt existing Train Test and extend.
- Test Timetable
- Test arrival and exit of train
- Test Doors of Train

[2020-04-20 09:36] zeroset opened #742 "Train: Add Doors to Geometry"
For arriving Trains we must add new Doors to the geometry.

Non-Goals:
- Fix/Correct Geometry

[2020-04-20 09:39] zeroset opened #743 "Train: Correct Geometry"
After a train arrived new doors have been added and the geometry must be fixed.
- Remove overlapping walls
- Removed walls must be stored for the departure of the train.
See Figure below.

[2020-04-20 09:41] zeroset opened #744 "Train: Change Format of Trains in input file"
The definition of trains changes with respect to the door position definition.
- Change the XML parsing of Trains
- Change Train Datatype
- Change Calculation of Door position

[2020-04-20 09:45] zeroset opened #745 "Train: Train leaving the station"
After a train left the station the old walls must be added again.

[2020-04-20 09:47] chraibi commented on #580
Brainstorming:
https://stackoverflow.com/questions/17925051/fast-textfile-reading-in-c
https://stackoverflow.com/questions/34751873/how-to-read-huge-file-in-c
https://www.reddit.com/r/cpp/comments/318m4n/how_to_read_a_huge_file_fast/

[2020-04-20 12:38] xuqiancheng commented on #737
Hello, @Monk9636.
If you follow the guide "https://www.jupedsim.org/jupedsim_install_on_windows.html" to build jpscore and jpsreport on your windows, you can get "**jpscore.exe**" and "**jpsreport.exe**" in folder "**.\jpscore\build\bin\Debug**" or "**.\jpscore\build\bin\Release**".
Then you can use jpsreport to do what you want.
If you meet troubles during the process, you can provide more detail

[2020-04-21 07:59] Monk9636 commented on #737
thanks a lot, it seems i built the jpscore solution successfully, "jpscore.exe" and "jpsreport.exe" is founded in the bin folder ,and it work well with some demos ,but i want to make sure that the "package" and "install" project skipped during compilation does't matter?

[2020-04-21 08:06] zeroset commented on #737
The Package target is only required for building installation packages and requires NSIS to be installed. The install target requires administration permission and only copies the binaries to the desired installation directories. I think both is not required if you want to work with jpsreport or jpscore. You are fine with compiling both and using the jpscore.exe or jpsreport.exe in you bin folder.